.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  padding: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  outline: none !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #333;
  color: #fff;
}

.vistaTitle {
  font-size: 80px;
  font-weight: normal;
  line-height: 1em;
  color: #fa6900;
  width: 100%;
  text-align: center;
}
@media (max-width: 960px) {
  .vistaTitle {
    font-size: 60px;
  }
}
@media (max-width: 640px) {
  .vistaTitle {
    font-size: 40px;
  }
}

.vistaText {
  margin-top: 60px;
  font-size: 21px;
  width: 100%;
  font-weight: 500;
  line-height: 1.3em;
  color: #5b6770;
}
@media (max-width: 960px) {
  .vistaText {
    margin-top: 40px;
  }
}
@media (max-width: 640px) {
  .vistaText {
    font-size: 18px;
  }
}

.vistaSubTitle {
  font-size: 40px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  line-height: 1em;
  margin: 40px 0px 0px;
  color: #5b6770;
  display: block;
}
@media (max-width: 640px) {
  .vistaSubTitle {
    font-size: 24px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: normal;
  background-color: #ffffff;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 640px) {
  .container {
    overflow: hidden;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: transparent;
}

h3 {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

p, ul, li, hr {
  margin: 0;
  padding: 0;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

header .main-header {
  position: relative;
  background-image: url(../../../img/png/header.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
  width: 100%;
  z-index: 3;
}
header .main-header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 11111111111111;
}
header .main-header .header .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .main-header .header .left-header .logo {
  background-image: url(../../../img/logo.jpg);
  background-repeat: no-repeat;
  width: 215px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 48px;
}
@media (max-width: 540px) {
  header .main-header .header .left-header .logo {
    width: 120px;
    background-size: contain;
    background-position: center;
    margin-right: 30px;
  }
}
header .main-header .header .left-header .get-location {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  position: relative;
  height: 100%;
}
header .main-header .header .left-header .get-location:before {
  content: "";
  height: 46px;
  width: 1px;
  position: absolute;
  background: #BFBFBF;
  top: -14px;
  margin-left: -24px;
}
@media (max-width: 540px) {
  header .main-header .header .left-header .get-location:before {
    margin-left: -14px;
  }
}
header .main-header .header .left-header .get-location:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  right: -20px;
  top: 0;
  background-image: url(../../../img/svg/geo.svg);
}
header .main-header .header .left-header .get-location:hover {
  cursor: pointer;
}
header .main-header .header .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 640px) {
  header .main-header .header .right-header nav .nav {
    display: none;
  }
}
header .main-header .header .right-header nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ED6B21;
  -webkit-transform: 0.3sec;
      -ms-transform: 0.3sec;
          transform: 0.3sec;
  margin-left: 50px;
  position: relative;
}
header .main-header .header .right-header nav a:hover {
  color: #495966;
  cursor: pointer;
}
header .main-header .header .right-header nav a:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  left: -30px;
  top: -2px;
}
header .main-header .header .right-header nav a.mobile-row-header:before {
  background-image: url(../../../img/svg/header-icon1.svg);
}
header .main-header .header .right-header nav a.stocks:before {
  background-image: url(../../../img/svg/header-icon2.svg);
}
header .main-header .header .right-header nav a.news:before {
  background-image: url(../../../img/svg/header-icon4.svg);
}
header .main-header .header .right-header nav a.test-drive:before {
  background-image: url(../../../img/svg/header-icon3.svg);
}
header .main-header .header .right-header nav .fixed-nav {
  display: none;
}
@media (max-width: 640px) {
  header .main-header .header .right-header nav .fixed-nav {
    display: block;
  }
}
header .main-header .header .right-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .main-header .header .right-header > div a.lang {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #BFBFBF;
  margin-left: 24px;
}
header .main-header .header .right-header > div a.drop-menu {
  margin-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  background-image: url(../../../img/svg/burger.svg);
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  header .main-header .header .right-header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 40px 10px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.34902) 0 0 21px 0;
            box-shadow: rgba(0, 0, 0, 0.34902) 0 0 21px 0;
  }
}
header .dropdown-menu {
  background-color: rgba(73, 89, 102, 0.952941);
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  z-index: 2;
  display: none;
  -webkit-transform: all 0.3s;
      -ms-transform: all 0.3s;
          transform: all 0.3s;
}
header .dropdown-menu.dropdown-menu-burger.active {
  display: block;
}
header .dropdown-menu.dropdown-mobile-row.active {
  display: block;
}
header .dropdown-menu .menuGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 140px 0 60px 0;
}
@media (max-width: 420px) {
  header .dropdown-menu .menuGrid {
    padding: 100px 0;
  }
}
header .dropdown-menu .menuGrid > div {
  width: 25%;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  header .dropdown-menu .menuGrid > div {
    width: 33.3%;
    margin-top: 20px;
  }
}
@media (max-width: 642px) {
  header .dropdown-menu .menuGrid > div {
    width: 50%;
  }
}
@media (max-width: 420px) {
  header .dropdown-menu .menuGrid > div {
    width: 100%;
    margin-top: 30px;
    padding: 0;
  }
}
header .dropdown-menu .menuGrid > div h2 {
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
  font-size: 18px;
}
header .dropdown-menu .menuGrid > div a {
  color: #FFFFFF;
  margin: 8px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
header .dropdown-menu .menuGrid > div a:hover {
  cursor: pointer;
  color: #8396a5;
}
header .dropdown-menu .menuGrid > div hr.hrClass {
  margin: 16px 0 8px 0;
  border: 2px solid #F7761F;
  width: 130px;
}
header .dropdown-menu .menuGrid.mobileRowGrid > div {
  width: 20%;
  margin-bottom: 40px;
}
@media (max-width: 1240px) {
  header .dropdown-menu .menuGrid.mobileRowGrid > div {
    width: 25%;
  }
}
@media (max-width: 860px) {
  header .dropdown-menu .menuGrid.mobileRowGrid > div {
    width: 33.3%;
  }
}
@media (max-width: 580px) {
  header .dropdown-menu .menuGrid.mobileRowGrid > div {
    width: 50%;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  header .dropdown-menu .menuGrid.mobileRowGrid > div {
    padding: 0 10px;
  }
}
header .dropdown-menu .menuGrid.mobileRowGrid > div img {
  width: 150px;
  height: 70px;
}
header .dropdown-menu .menuGrid.mobileRowGrid > div a {
  margin: 4px;
}
header .dropdown-menu .container {
  position: relative;
}
header .dropdown-menu .container .dropdown-menu-close {
  position: absolute;
  top: 100px;
  right: 0;
  padding: 0;
  margin: 0;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
}
header .dropdown-menu .container .dropdown-menu-close:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
header .dropdown-menu .container .dropdown-menu-close > a {
  position: relative;
  display: block;
  padding-right: 40px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header .dropdown-menu .container .dropdown-menu-close > a:after {
  content: "";
  background-image: url(../../../img/svg/header-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  top: -5px;
}

footer {
  background-color: #495966;
  color: #ffffff;
  position: relative;
}
footer:before {
  position: absolute;
  content: "";
  background-image: url(../../../img/png/ban4.png);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
}
@media (max-width: 460px) {
  footer:before {
    height: 80px;
  }
}
footer .footer {
  padding: 120px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 460px) {
  footer .footer {
    padding: 60px 0;
  }
}
footer .footer .right-footer, footer .footer .left-footer {
  width: 50%;
}
@media (max-width: 830px) {
  footer .footer .right-footer, footer .footer .left-footer {
    width: 100%;
  }
}
footer .footer .right-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footer .right-footer > div {
  width: 50%;
  padding: 0 15px;
}
@media (max-width: 460px) {
  footer .footer .right-footer > div {
    width: 100%;
  }
}
footer .footer .right-footer > div h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}
footer .footer .right-footer > div hr.hrClass {
  margin: 16px 0 8px 0;
  border: 2px solid #F7761F;
  width: 130px;
}
footer .footer .right-footer > div .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}
@media (max-width: 460px) {
  footer .footer .right-footer > div .footer-links {
    margin-bottom: 20px;
  }
}
footer .footer .right-footer > div .footer-links a {
  font-style: normal;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 8px 0;
}
footer .footer .right-footer > div .footer-links a:hover {
  color: #8396a5;
}
footer .footer .left-footer {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
footer .footer .left-footer a {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  color: #FFFFFF;
  margin: 20px 0 36px 0;
}
@media (max-width: 460px) {
  footer .footer .left-footer a {
    font-size: 28px;
    margin: 10px 0;
  }
}
footer .footer .left-footer p {
  margin-bottom: 22px;
}
footer .footer .left-footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: 24px;
}
footer .footer .left-footer .social-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
  background-position: center;
  background-repeat: no-repeat;
}
footer .footer .left-footer .social-icons a:hover {
  cursor: pointer;
}
footer .footer .left-footer .social-icons a.vk {
  background-image: url(../../../img/svg/vk.svg);
}
footer .footer .left-footer .social-icons a.vk:hover {
  background-image: url(../../../img/svg/vk1.svg);
}
footer .footer .left-footer .social-icons a.fb {
  background-image: url(../../../img/svg/fb.svg);
}
footer .footer .left-footer .social-icons a.fb:hover {
  background-image: url(../../../img/svg/fb1.svg);
}
footer .footer .left-footer .social-icons a.tw {
  background-image: url(../../../img/svg/tw.svg);
}
footer .footer .left-footer .social-icons a.tw:hover {
  background-image: url(../../../img/svg/tw1.svg);
}
footer .footer .left-footer .social-icons a.insta {
  background-image: url(../../../img/svg/insta.svg);
}
footer .footer .left-footer .social-icons a.insta:hover {
  background-image: url(../../../img/svg/insta1.svg);
}
footer .footer .left-footer .social-icons a.youtube {
  background-image: url(../../../img/svg/youtube.svg);
}
footer .footer .left-footer .social-icons a.youtube:hover {
  background-image: url(../../../img/svg/youtube1.svg);
}
footer .footer .left-footer .social-icons a.ok {
  background-image: url(../../../img/svg/ok.svg);
}
footer .footer .left-footer .social-icons a.ok:hover {
  background-image: url(../../../img/svg/ok1.svg);
}

#main {
  margin-top: -92px;
}
#main .getMore {
  width: 300px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: normal;
  color: #ec6b23;
  padding: 0 18px;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0 13px 21px -8px;
          box-shadow: rgba(0, 0, 0, 0.498039) 0 13px 21px -8px;
}
#main .getMore:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background-image: url("../../../img/png/lada-corner.png");
  background-repeat: no-repeat;
  background-position: right;
  left: 0;
  bottom: 0;
}
#main .getMore:after {
  content: "";
  position: absolute;
  min-width: 25px;
  width: 25px;
  height: 15px;
  right: 20px;
  background-image: url("../../../img/svg/arrow-orange.svg");
  background-position: center;
  background-repeat: no-repeat;
}
#main .getMore:hover {
  background: #ec6b23;
  color: #ffffff;
}
#main .getMore:hover:after {
  background-image: url("../../../img/svg/arrow-white.svg");
}
#main .getMore img {
  width: 25px;
  height: 100%;
}
#main .getMore p {
  margin: 0;
}
#main .main-title {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #495966;
}
@media (max-width: 480px) {
  #main .main-title {
    font-size: 28px;
  }
}
#main #banner-slider {
  position: relative;
  overflow: hidden;
}
#main #banner-slider .multiple-banner-slider {
  position: relative;
}
#main #banner-slider .multiple-banner-slider:before {
  content: "";
  background-image: url("../../../img/png/ban1.png");
  background-repeat: no-repeat;
  height: 146px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 580px) {
  #main #banner-slider .multiple-banner-slider:before {
    height: 50px;
  }
}
#main #banner-slider .multiple-banner-slider .item-banner {
  height: 650px;
  position: relative;
}
#main #banner-slider .multiple-banner-slider .item-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#main #banner-slider .multiple-banner-slider .item-banner .info-block {
  position: absolute;
  top: 100px;
  right: 20%;
  color: white;
  padding: 20px;
  max-width: 500px;
}
#main #banner-slider .multiple-banner-slider .item-banner .info-block .title {
  font-size: 45px;
  font-weight: bolder;
  color: white;
}
#main #banner-slider .multiple-banner-slider .item-banner .info-block span {
  font-size: 28px;
  font-weight: 500;
  line-height: 1em;
  color: white;
  margin: 10px 0 30px 0;
  display: block;
}
@media (max-width: 1440px) {
  #main #banner-slider .multiple-banner-slider .item-banner .info-block {
    right: 5%;
  }
}
@media (max-width: 1440px) {
  #main #banner-slider .multiple-banner-slider .item-banner .info-block {
    max-width: 440px;
  }
  #main #banner-slider .multiple-banner-slider .item-banner .info-block .title {
    font-size: 38px;
  }
  #main #banner-slider .multiple-banner-slider .item-banner .info-block span {
    font-size: 22px;
  }
}
@media (max-width: 580px) {
  #main #banner-slider .multiple-banner-slider .item-banner .info-block {
    max-width: 280px;
  }
  #main #banner-slider .multiple-banner-slider .item-banner .info-block a {
    width: 260px;
  }
}
@media (max-width: 420px) {
  #main #banner-slider .multiple-banner-slider .item-banner .info-block {
    padding: 0;
    max-width: 220px;
  }
  #main #banner-slider .multiple-banner-slider .item-banner .info-block a {
    width: 220px;
  }
  #main #banner-slider .multiple-banner-slider .item-banner .info-block .title {
    font-size: 28px;
  }
}
@media (max-width: 420px) {
  #main #banner-slider .multiple-banner-slider .item-banner {
    height: 500px;
  }
}
#main #banner-slider .banner-slider-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 40%;
  bottom: 200px;
}
#main #banner-slider .banner-slider-number .slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#main #banner-slider .banner-slider-number .slider-controls .slide-m-prev, #main #banner-slider .banner-slider-number .slider-controls .slide-m-next {
  width: 30px;
  height: 40px;
  border: none;
}
#main #banner-slider .banner-slider-number .slider-controls .slide-m-prev:hover, #main #banner-slider .banner-slider-number .slider-controls .slide-m-next:hover {
  cursor: pointer;
}
#main #banner-slider .banner-slider-number .slider-controls .slide-m-prev:focus, #main #banner-slider .banner-slider-number .slider-controls .slide-m-next:focus {
  outline: none;
}
#main #banner-slider .banner-slider-number .slider-controls .slide-m-prev {
  background: url("../../../img/svg/prev.svg") no-repeat center;
}
#main #banner-slider .banner-slider-number .slider-controls .slide-m-next {
  background: url("../../../img/svg/next.svg") no-repeat center;
  position: absolute;
  left: 270%;
}
@media (max-width: 420px) {
  #main #banner-slider .banner-slider-number .slider-controls .slide-m-next {
    left: 190%;
  }
}
#main #banner-slider .banner-slider-number .slider-controls .slick-dots {
  bottom: 15px;
  left: 100px;
}
#main #banner-slider .banner-slider-number .slider-controls .slick-dots li {
  width: 14px;
  height: 4px;
  margin: 0;
  background-color: #BFBFBF;
}
#main #banner-slider .banner-slider-number .slider-controls .slick-dots li .slick-active {
  background: #ffffff;
}
#main #banner-slider .banner-slider-number .slider-controls .slick-dots li button {
  display: none;
}
#main #banner-slider .banner-slider-number .slider-controls .slick-dots .slick-active {
  background: #ffffff;
}
#main #banner-slider .banner-slider-number .slider-controls .slick-dots li:nth-child(1) {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
#main #banner-slider .banner-slider-number .slider-controls .slick-dots li:nth-last-child(1) {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
#main #banner-slider .banner-slider-number #banSlideCount1 {
  color: white;
  font-size: 30px;
  border-right: 1px solid white;
  padding: 0 10px;
}
#main #banner-slider .banner-slider-number #banSlideCount2 {
  color: white;
  font-size: 18px;
  padding: 0 10px;
}
@media (max-width: 1440px) {
  #main #banner-slider .banner-slider-number {
    right: 36%;
  }
}
@media (max-width: 420px) {
  #main #banner-slider .banner-slider-number {
    bottom: 100px;
  }
}
#main .main-content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  position: relative;
  padding-bottom: 80px;
}
#main .main-content:after {
  content: "";
  background-image: url("../../../img/png/ban8.png");
  background-repeat: no-repeat;
  height: 146px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#main .main-content .choose-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 60px 0;
}
@media (max-width: 820px) {
  #main .main-content .choose-car {
    margin: 0;
  }
}
#main .main-content .choose-car > div {
  width: 25%;
  padding: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#main .main-content .choose-car > div p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #495966;
  margin: 18px;
}
#main .main-content .choose-car > div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: 1px dotted #f7761f;
  padding: 10px 0;
  color: #f7761f;
  position: relative;
}
#main .main-content .choose-car > div a:after {
  content: "";
  position: absolute;
  background-image: url("../../../img/svg/arrow-orange.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  min-width: 25px;
  width: 25px;
  bottom: 0;
  right: 10px;
}
#main .main-content .choose-car > div a:hover {
  color: #495966;
}
#main .main-content .choose-car > div a:hover:after {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
#main .main-content .choose-car > div a:nth-child(2) {
  border-bottom: 1px dotted #f7761f;
}
@media (max-width: 920px) {
  #main .main-content .choose-car > div p {
    font-size: 18px;
    margin: 10px;
  }
}
@media (max-width: 830px) {
  #main .main-content .choose-car > div {
    width: 33.3%;
    margin-bottom: 20px;
  }
  #main .main-content .choose-car > div a {
    padding: 5px 0;
  }
}
@media (max-width: 690px) {
  #main .main-content .choose-car > div {
    width: 50%;
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  #main .main-content .choose-car > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main .main-content .choose-car > div img {
    width: 80%;
  }
}
#main .main-content .choose-car-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px 0;
}
#main .main-content .choose-car-2 > div {
  width: 33.3%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#main .main-content .choose-car-2 > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1216px) {
  #main .main-content .choose-car-2 > div img {
    display: none;
  }
}
#main .main-content .choose-car-2 > div .text {
  padding-left: 70px;
  margin: 20px 0 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #8396a5;
}
@media (max-width: 1216px) {
  #main .main-content .choose-car-2 > div .text {
    padding: 0;
  }
}
@media (max-width: 830px) {
  #main .main-content .choose-car-2 > div {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    padding: 0 50px;
  }
  #main .main-content .choose-car-2 > div img {
    display: block;
  }
  #main .main-content .choose-car-2 > div > div {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #main .main-content .choose-car-2 > div > div a {
    width: 440px;
  }
  #main .main-content .choose-car-2 > div .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: right;
    margin: 5px 0 0 0;
  }
}
@media (max-width: 579px) {
  #main .main-content .choose-car-2 > div {
    padding: 0;
  }
}
#main .offers-box .special-offers-slider {
  margin: 60px 0;
}
#main .offers-box .special-offers-slider .pop {
  -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 13px 21px -8px;
          box-shadow: rgba(0, 0, 0, 0.498039) 0px 13px 21px -8px;
}
#main .offers-box .special-offers-slider .pop img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 579px) {
  #main .offers-box .special-offers-slider .pop {
    height: 300px;
    width: 360px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
#main .offers-box .special-offers-slider .slick-slide {
  margin: 0 15px;
}
#main .offers-box .special-offers-slider .slick-list {
  margin: 0 -15px;
}
#main .offers-box .special-offers-slider .slick-prev, #main .offers-box .special-offers-slider .slick-next {
  display: none;
  position: absolute;
  z-index: 1;
  top: 126%;
  width: 20px;
  height: 45px;
}
@media (max-width: 890px) {
  #main .offers-box .special-offers-slider .slick-prev, #main .offers-box .special-offers-slider .slick-next {
    top: 135%;
  }
}
@media (max-width: 779px) {
  #main .offers-box .special-offers-slider .slick-prev, #main .offers-box .special-offers-slider .slick-next {
    top: 125%;
  }
}
#main .offers-box .special-offers-slider .slick-prev:before, #main .offers-box .special-offers-slider .slick-next:before {
  display: none;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: transparent;
}
#main .offers-box .special-offers-slider .slick-prev {
  background: url("../../../img/svg/left.svg") no-repeat center;
  left: 0;
}
#main .offers-box .special-offers-slider .slick-next {
  background: url("../../../img/svg/right.svg") no-repeat center;
  left: 220px;
}
#main .offers-box .special-offers-slider .slider-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 0 20px;
}
@media (max-width: 1024px) {
  #main .offers-box .special-offers-slider .slider-number {
    margin-top: -10px;
  }
}
#main .offers-box .special-offers-slider .slider-number #offerSlide {
  width: 50px;
  font-style: normal;
  font-weight: normal;
  color: #495966;
  font-size: 30px;
  line-height: 41px;
  text-align: right;
  border-right: 1px solid #495966;
  padding: 0 10px 0 0;
}
#main .offers-box .special-offers-slider .slider-number #offerSlide2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #495966;
  padding: 0 0 0 10px;
}
#main .offers-box .special-offers-slider .slick-dots {
  bottom: -28%;
  padding: 0 0 0 125px;
  margin: 0;
  text-align: left;
}
@media (max-width: 890px) {
  #main .offers-box .special-offers-slider .slick-dots {
    bottom: -40%;
  }
}
@media (max-width: 779px) {
  #main .offers-box .special-offers-slider .slick-dots {
    bottom: -30%;
  }
}
@media (max-width: 579px) {
  #main .offers-box .special-offers-slider .slick-dots {
    bottom: -25%;
  }
}
#main .offers-box .special-offers-slider .slick-dots li {
  width: 9px;
  height: 2px;
  margin: 0;
  background-color: #BFBFBF;
}
#main .offers-box .special-offers-slider .slick-dots li button {
  width: 9px;
  padding: 0;
  height: 2px;
}
#main .offers-box .special-offers-slider .slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  width: 9px;
  height: 2px;
  content: " ";
  text-align: center;
  opacity: 0;
}
#main .offers-box .special-offers-slider .slick-dots:before {
  position: relative;
  z-index: 2;
  background-color: #495966;
}
#main .offers-box .special-offers-slider .slick-dotted.slick-slider {
  margin-bottom: 60px;
}
#main .offers-box .testing {
  height: 200px;
  width: 100%;
  background: #5b6770;
}
#main .news-blog .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#main .news-blog .news > div {
  width: 50%;
  padding-right: 15px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#main .news-blog .news > div p {
  color: #f7761f;
  font-size: 21px;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
}
#main .news-blog .news > div .orange-order {
  height: 5px;
  margin: 10px 0px 10px;
  background-color: #f7761f;
  width: 70px;
  display: block;
  border: 0;
}
#main .news-blog .news > div span {
  font-size: 21px;
  font-weight: normal;
  line-height: normal;
  color: #495966;
  overflow: hidden;
  min-height: 100px;
}
@media (max-width: 768px) {
  #main .news-blog .news > div span {
    font-size: 18px;
  }
}
#main .news-blog .news > div a {
  color: #bfbfbf;
  text-decoration: underline;
  font-size: 21px;
  font-weight: normal;
  line-height: 1em;
  display: block;
}
@media (max-width: 768px) {
  #main .news-blog .news > div a {
    font-size: 18px;
  }
}
@media (max-width: 640px) {
  #main .news-blog .news > div {
    width: 100%;
  }
  #main .news-blog .news > div span {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin-bottom: 10px;
  }
}
#main .news-blog .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
#main .news-blog .blog h1 {
  font-size: 21px;
  font-weight: normal;
  line-height: 1em;
  color: #f7761f;
  text-decoration: underline;
}
#main .news-blog .blog h1:hover {
  color: #495966;
  cursor: pointer;
}
#main .news-blog .blog > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 579px) {
  #main .news-blog .blog > div {
    margin-left: 10px;
  }
}

.concept-banner {
  margin-top: -100px;
  width: 100%;
  height: 900px;
  background-image: url(../../../img/jpg/banner2.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
@media (max-width: 960px) {
  .concept-banner {
    height: 700px;
    width: 100%;
  }
}
@media (max-width: 580px) {
  .concept-banner {
    height: 500px;
    width: 100%;
  }
}
.concept-banner .swiper-container {
  height: 80%;
  width: 80%;
}
@media (max-width: 960px) {
  .concept-banner .swiper-container {
    width: 70%;
  }
}
@media (max-width: 780px) {
  .concept-banner .swiper-container {
    width: 60%;
  }
}
@media (max-width: 640px) {
  .concept-banner .swiper-container {
    width: 100%;
  }
}
.concept-banner .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.concept-banner .swiper-container .swiper-slide img {
  margin: 50px 0;
}
@media (max-width: 640px) {
  .concept-banner .swiper-container .swiper-slide img {
    width: 80%;
  }
}
.concept-banner .swiper-container .swiper-slide .car-title {
  font-size: 71px;
  font-weight: normal;
  line-height: 1em;
  color: white;
}
@media (max-width: 768px) {
  .concept-banner .swiper-container .swiper-slide .car-title {
    font-size: 38px;
  }
}
.concept-banner .swiper-container .swiper-slide a {
  display: block;
  padding: 10px 115px;
  border-radius: 30px;
  border: solid 2px white;
  text-transform: lowercase;
  color: white;
  font-size: 34px;
  font-weight: 300;
  line-height: 41px;
}
@media (max-width: 768px) {
  .concept-banner .swiper-container .swiper-slide a {
    font-size: 18px;
    padding: 5px 70px;
  }
}
.concept-banner .swiper-container .swiper-button-next, .concept-banner .swiper-container .swiper-button-prev {
  color: #c6c6c6;
}
.concept-banner .swiper-container .swiper-button-next:after, .concept-banner .swiper-container .swiper-button-prev:after {
  font-size: 70px;
}
@media (max-width: 768px) {
  .concept-banner .swiper-container .swiper-button-next:after, .concept-banner .swiper-container .swiper-button-prev:after {
    font-size: 40px;
  }
}
@media (max-width: 580px) {
  .concept-banner .swiper-container .swiper-button-next {
    right: 0;
  }
}
@media (max-width: 580px) {
  .concept-banner .swiper-container .swiper-button-prev {
    left: 0;
  }
}

section .xray-content {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section .xray-content p {
  color: #ed6b21;
  line-height: 100px;
  font-size: 100px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  section .xray-content p {
    font-size: 70px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  section .xray-content p {
    font-size: 50px;
  }
}
@media (max-width: 560px) {
  section .xray-content p {
    font-size: 40px;
  }
}
section .design-description {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
section .design-description div:nth-child(1) {
  width: 30%;
  padding-right: 20px;
}
@media (max-width: 768px) {
  section .design-description div:nth-child(1) {
    width: 100%;
    padding: 0;
  }
}
section .design-description div:nth-child(1) p {
  color: #ed6b21;
  font-size: 36px;
  font-weight: normal;
}
@media (max-width: 560px) {
  section .design-description div:nth-child(1) p {
    font-size: 28px;
  }
}
section .design-description div:nth-child(2) {
  width: 70%;
}
@media (max-width: 768px) {
  section .design-description div:nth-child(2) {
    width: 100%;
  }
}
section .design-description div:nth-child(2) span {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #4d5666;
}
section .design-description div:nth-child(2) .statment {
  margin-top: 60px;
  float: right;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: italic;
}
@media (max-width: 560px) {
  section .design-description div:nth-child(2) .statment {
    margin-top: 20px;
    width: 100%;
  }
  section .design-description div:nth-child(2) .statment span {
    padding-left: 15px;
    font-size: 14px;
  }
}
section .design-description div:nth-child(2) .statment img {
  width: 100px;
  height: 100px;
}

section .utubeVideo {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  margin-top: 30px;
}
section .utubeVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section .photo-gallery {
  margin: 30px 0;
}
section .photo-gallery p {
  color: #ed6b21;
  font-size: 36px;
  font-weight: normal;
}
section .photo-gallery .gallery-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section .photo-gallery .gallery-img > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 240px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1240px) {
  section .photo-gallery .gallery-img > a {
    width: 33.3%;
    height: 180px;
  }
  section .photo-gallery .gallery-img > a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 786px) {
  section .photo-gallery .gallery-img > a {
    width: 50%;
  }
}
@media (max-width: 540px) {
  section .photo-gallery .gallery-img > a {
    width: 50%;
    height: 120px;
  }
  section .photo-gallery .gallery-img > a img {
    width: 80%;
    height: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
section .more-box {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 560px) {
  section .more-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
section .more-box span {
  font-size: 24px;
  font-weight: normal;
  line-height: 1em;
  color: #7d7d7d;
  padding-left: 100px;
}
@media (max-width: 768px) {
  section .more-box span {
    padding: 0;
  }
}
@media (max-width: 560px) {
  section .more-box span {
    text-align: center;
    margin-bottom: 20px;
  }
}
section .more-box .btn-more {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  background: #ed6b21;
  width: 294px;
  height: 50px;
}
@media (max-width: 560px) {
  section .more-box .btn-more {
    margin: 0 auto;
  }
}
section .more-box .btn-more p {
  margin: 0;
  color: #ffffff;
}
section .more-box .btn-more img {
  width: 45px;
  height: 100%;
}
section .big-salon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 750px;
  overflow: hidden;
}
section .big-salon-img > div {
  height: 100%;
  width: 50%;
}
section .big-salon-img > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 786px) {
  section .big-salon-img > div {
    width: 100%;
    height: 50%;
  }
}
section .big-salon-img > div:nth-child(2) {
  border-left: 10px solid #ffffff;
}
@media (max-width: 768px) {
  section .big-salon-img > div:nth-child(2) {
    height: 40%;
    border-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #c6c6c6;
  }
}
section .big-salon-img > div:nth-child(2) > div {
  height: 50%;
  width: 100%;
}
section .big-salon-img > div:nth-child(2) > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 786px) {
  section .big-salon-img > div:nth-child(2) > div {
    width: 50%;
    height: 100%;
  }
}
section .big-salon-img > div:nth-child(2) > div:nth-child(2) {
  border-top: 5px solid #ffff;
}
@media (max-width: 786px) {
  section .big-salon-img > div:nth-child(2) > div:nth-child(2) {
    border-top: 0;
    border-left: 5px solid #ffffff;
  }
}
section .full {
  height: 700px;
}
@media (max-width: 768px) {
  section .full {
    height: 400px;
  }
}
section .full img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .parallax {
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  section .parallax {
    min-height: 500px;
  }
}
@media (max-width: 560px) {
  section .parallax {
    min-height: 350px;
  }
}
section .vision1 {
  background-image: url("../../../img/jpg/parallax4_4.jpg");
}
section .vision2 {
  background-image: url("../../../img/jpg/parallax4_4-2.jpg");
}
section .vision3 {
  background-image: url("../../../img/jpg/parallax4_4-3.jpg");
}
section .vision4 {
  background-image: url("../../../img/jpg/parallax4_4-4.jpg");
}
section .xcode1 {
  background-image: url("../../../img/jpg/paralax-xcode1.jpg");
}
section .xcode2 {
  background-image: url("../../../img/jpg/paralax-xcode2.jpg");
}
section .xray1 {
  background-image: url("../../../img/jpg/paralax1.jpg");
}
section .xray2 {
  background-image: url("../../../img/jpg/paralax2.jpg");
}

#inner-vesta {
  margin-top: -100px;
  /*tabs*/
}
#inner-vesta .inner-page-car {
  height: 500px;
  background: url("../../../img/jpg/banner-inner.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
}
#inner-vesta .inner-banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media (max-width: 1024px) {
  #inner-vesta .inner-banner-content {
    padding: 50px 40px 0 0;
  }
}
#inner-vesta .vesta-car-img img {
  max-width: 132%;
}
#inner-vesta .inner-page-car-info h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0 0 50px;
}
#inner-vesta .inner-page-car-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  background: rgba(248, 249, 250, 0.5);
  width: 290px;
  height: 75px;
}
#inner-vesta .inner-page-car-info div p {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#inner-vesta .inner-page-car-info div span {
  font-style: normal;
  font-weight: normal;
  font-size: 51px;
  line-height: 51px;
  color: #F7761F;
  padding: 0 5px;
}
#inner-vesta .inner-page-car-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 290px;
  height: 38px;
  margin: 2px 0 0;
}
#inner-vesta .inner-page-car-info a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 38px;
  background: rgba(0, 0, 0, 0.7);
}
#inner-vesta .inner-page-car-info a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  width: 250px;
  height: 38px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0 0 17px;
}
#inner-vesta .inner-page-car-info a:hover {
  background: rgba(0, 0, 0, 0.55);
  outline: 0;
  outline-offset: 0;
}
#inner-vesta .inner-page-car-info a div:hover img {
  margin-left: 10px;
}
#inner-vesta .vesta-car-img img {
  display: none;
}
#inner-vesta .vesta-car-img input:checked + img {
  display: block;
}
#inner-vesta .color-car-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -7px 0 0 0;
}
#inner-vesta .color-car-all label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 25px;
  position: relative;
}
#inner-vesta .color-car-all label:hover:after {
  content: "";
  background-image: url("../../../img/png/corner_up.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  min-width: 18px;
  height: 7px;
  right: 0;
  left: 0;
  bottom: 0;
}
#inner-vesta .car-configuration-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 13px 0;
}
#inner-vesta .car-configuration-heading h1 {
  max-width: 500px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #F7761F;
  margin-top: 20px;
}
@media (max-width: 460px) {
  #inner-vesta .car-configuration-heading h1 {
    font-size: 28px;
    margin: 0;
  }
}
#inner-vesta .car-configuration-heading p {
  max-width: 668px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #52595D;
  padding-right: 50px;
}
#inner-vesta .download-price {
  border-top: 3px solid #52595D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ED6B21;
  width: 100%;
  height: 55px;
}
#inner-vesta .download-price p {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  color: #FFFFFF;
  padding: 0 0 0 16px;
}
#inner-vesta .download-price img {
  padding: 0 16px 0 0;
}
#inner-vesta .table-price {
  border-top: 3px solid #ED6B21;
  border-left: 1px dotted #444E4E;
  border-right: 1px dotted #444E4E;
  border-bottom: 1px dotted #444E4E;
  margin: 20px 0 0;
}
#inner-vesta .table-price .compare {
  margin: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#inner-vesta .table-price .compare .fit-your-choice-button1 {
  width: auto;
  background: #fbe1d3;
}
#inner-vesta .table-price .compare .fit-your-choice-button1 p {
  margin-left: 10px;
}
#inner-vesta .table-price .color-list-car {
  margin: 20px;
}
#inner-vesta .table-price .color-list-car ul {
  list-style: none;
}
#inner-vesta .table-price .color-list-car ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}
#inner-vesta .table-price .color-list-car ul li .color {
  margin-right: 20px;
  width: 150px;
  height: 26px;
  border: 1px solid #6c6c6c;
}
#inner-vesta .table-price .color-list-car ul li p {
  font-size: 16px;
  color: #222222;
}
#inner-vesta .table-price .recText {
  padding: 0 30px 30px 30px;
  color: #ed6b21;
}
#inner-vesta .table-price .recText a {
  text-decoration: underline;
  color: #ed6b21;
}
#inner-vesta .price-choice h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ED6B21;
  margin: 10px 0 0;
}
#inner-vesta .table-price-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px 0;
}
#inner-vesta .table-price-slider form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#inner-vesta .table-price-slider div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#inner-vesta .table-price-slider div span {
  color: #52595D;
  font-size: 19px;
  border: 1px dotted #52595D;
  margin: 0 12px 10px;
  padding: 0 10px;
}
#inner-vesta .table-price-slider div {
  width: 100%;
}
#inner-vesta .table-price-slider .ui-state-default {
  width: 35px;
  height: 38px;
  padding: 0;
  border-radius: 0;
  border: none;
  top: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  z-index: 1;
}
#inner-vesta .table-price-slider .ui-slider-horizontal .ui-slider-range {
  top: 0;
  width: 100%;
  height: 38px;
  border: none;
  background-color: #52595D;
  border-radius: 0;
}
#inner-vesta #polzunok {
  width: 98%;
  border: none;
  height: 38px;
  border-radius: 0;
}
#inner-vesta #polzunok span:nth-child(2) {
  background: url("../../../img/png/arrow5rght2.png") no-repeat center #ED6B21;
}
#inner-vesta #polzunok span:nth-child(3) {
  background: url("../../../img/png/arrow5rght1.png") no-repeat center #ED6B21;
  margin: 0 0 0 -35px;
}
#inner-vesta .table-price-slider .ui-widget-content {
  background: #f0f0f0;
}
#inner-vesta .choice-characteristic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#inner-vesta .choice-characteristic h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ED6B21;
  margin: 0 0 20px 0;
}
#inner-vesta .choice-characteristic-table {
  border: 1px solid #c7c7c7;
  width: 98%;
}
#inner-vesta .choice-characteristic-main-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F0F0F0;
  margin: 0 0 25px 0;
}
#inner-vesta .choice-characteristic-main {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
}
@media (max-width: 640px) {
  #inner-vesta .choice-characteristic-main-all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
#inner-vesta .choice-characteristic-main img {
  margin: 0 10px 0 0;
}
#inner-vesta .choice-characteristic-main:hover div {
  background: #252b2f;
}
#inner-vesta .choice-characteristic-main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #BEBEBE;
  margin: 0 10px 0 13px;
}
#inner-vesta .choice-characteristic-main p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #BEBEBE;
}
#inner-vesta .choice-characteristic-main-all .active div {
  background: #ED6B21;
}
#inner-vesta .choice-characteristic-main-all .active p {
  color: #000000;
}
#inner-vesta .choice-characteristic-after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}
#inner-vesta .choice-characteristic-after a {
  text-align: center;
  width: 98%;
  padding: 6px 0;
  border-bottom: 1px dotted #52595D;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #52595D;
}
#inner-vesta .choice-characteristic-after a:last-child {
  border: none;
}
#inner-vesta .choice-characteristic-after a:hover {
  background: #E6E6E6;
}
#inner-vesta .fit-your-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#inner-vesta .fit-your-choice h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ED6B21;
  padding: 10px 0;
  border-bottom: 1px dotted #52595D;
  width: 98%;
}
#inner-vesta .fit-your-choice-car {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px dotted #52595D;
}
#inner-vesta .fit-your-choice-car:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #f0f0f0), to(#FFFFFF));
  background: -o-linear-gradient(left, #f0f0f0 20%, #FFFFFF 100%);
  background: linear-gradient(to right, #f0f0f0 20%, #FFFFFF 100%);
}
#inner-vesta .fit-your-choice-car-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#inner-vesta .fit-your-choice-car-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#inner-vesta .fit-your-choice-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#inner-vesta .fit-your-choice-car-name img {
  width: 13px;
  height: 13px;
  margin: 0 5px 0 0;
}
#inner-vesta .fit-your-choice-car div h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
#inner-vesta .fit-your-choice-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#inner-vesta .fit-your-choice-price p:nth-child(1) {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #7D7D7D;
  margin: 0 32px 0 0;
  text-decoration: line-through;
}
#inner-vesta .fit-your-choice-price p:nth-child(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ED6B21;
  margin: 0 28px 0 0;
}
#inner-vesta .fit-your-choice-button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 30px;
  background: #F0F0F0;
  margin: 0 5px 0 0;
}
#inner-vesta .fit-your-choice-button1:hover {
  background: #fbe1d3;
}
#inner-vesta .fit-your-choice-button1:hover p {
  color: #000000;
}
#inner-vesta .fit-your-choice-button1.active {
  background: #fbe1d3;
}
#inner-vesta .fit-your-choice-button1.active p {
  color: #000000;
  font-weight: bolder;
}
#inner-vesta .fit-your-choice-button1 img {
  width: 25px;
  height: 23px;
  margin: 0 0 0 5px;
}
#inner-vesta .fit-your-choice-button1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #52595D;
  margin: 0 18px 0 0;
}
#inner-vesta .fit-your-choice-button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 30px;
  background: #ED6B21;
}
#inner-vesta .fit-your-choice-button2:hover {
  background: #52595D;
}
#inner-vesta .fit-your-choice-button2:hover img {
  margin: 0 10px 0 0;
}
#inner-vesta .fit-your-choice-button2 img {
  width: 15px;
  height: 22px;
  margin: 0 15px 0 0;
}
#inner-vesta .fit-your-choice-button2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0 0 0 9px;
}
#inner-vesta .fit-your-choice-color-all {
  margin: 60px 0 0 0;
  width: 100%;
}
#inner-vesta .fit-your-choice-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 16px;
}
#inner-vesta .fit-your-choice-color div {
  width: 150px;
  height: 24px;
}
#inner-vesta .fit-your-choice-color-white {
  background: #FFFFFF;
  border: 1px solid #000000;
}
#inner-vesta .fit-your-choice-color-red {
  background: #860E02;
}
#inner-vesta .fit-your-choice-color-brown {
  background: #3F3A32;
}
#inner-vesta .fit-your-choice-color-grey {
  background: #E8E5CD;
  border: 1px solid #6c6c6c;
}
#inner-vesta .fit-your-choice-color-blue {
  background: #1449BF;
}
#inner-vesta .fit-your-choice-color-faton {
  background: #686866;
  border: 1px solid #6c6c6c;
}
#inner-vesta .fit-your-choice-color-pluton {
  background: #515958;
  border: 1px solid #6c6c6c;
}
#inner-vesta .fit-your-choice-color-black {
  background: #111112;
}
#inner-vesta .fit-your-choice-color-silver {
  background: #C3C4C4;
  border: 1px solid #6c6c6c;
}
#inner-vesta .fit-your-choice-color p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
  margin: 0 0 0 32px;
}
#inner-vesta .fit-your-choice-color-all-info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ED6B21;
  margin: 30px 0 38px 16px;
}
#inner-vesta .fit-your-choice-color-all-info a {
  color: #ED6B21;
  border-bottom: 1px solid #ED6B21;
}
#inner-vesta .car-configuration-tabs-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 13px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #52595D;
}
#inner-vesta .car-configuration-tabs-all2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
  padding: 0 0 40px 0;
}
#inner-vesta .car-configuration-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 82px;
  background: #ED6B21;
  cursor: pointer;
  border-right-color: #fff;
  border-right-width: 3px;
  border-right-style: solid;
}
#inner-vesta .car-configuration-tab:nth-child(4) {
  border-right: none;
}
#inner-vesta .car-configuration-tab img {
  padding-top: 5px;
}
#inner-vesta .car-configuration-tab:hover {
  background: #52595D;
}
#inner-vesta .car-configuration-tab p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 7px 0;
}
#inner-vesta .fit-your-choice-all {
  width: 100%;
}
#inner-vesta .your-characteristic {
  width: 100%;
  display: none;
}
#inner-vesta .your-characteristic-all {
  width: 98%;
  margin: 10px auto 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#inner-vesta .your-characteristic-heading {
  display: none;
}
#inner-vesta .your-characteristic-heading2 {
  display: none;
}
#inner-vesta .your-characteristic-heading-all div:nth-child(1) {
  display: block;
}
#inner-vesta .your-characteristic-heading-all2 div:nth-child(1) {
  display: block;
}
#inner-vesta .your-characteristic-heading2 .checkbox {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#inner-vesta .your-characteristic-heading2 .checkbox:hover {
  background-color: #f0f0f0;
}
#inner-vesta .your-characteristic-heading2 input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
#inner-vesta .your-characteristic-heading2 input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  border: 1px solid #555555;
  border-radius: 2px;
  background-color: white;
}
#inner-vesta .your-characteristic-heading2 input[type=checkbox]:checked:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 5px;
}
#inner-vesta .checkbox__text {
  margin: 0 0 0 10px;
}
#inner-vesta .your-characteristic-heading2 input[type=checkbox]:checked .checkbox__text {
  color: #222222;
}
#inner-vesta .your-characteristic-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 32px 0 0;
}
#inner-vesta .your-characteristic-name .active {
  background: #E6E6E6;
}
#inner-vesta .your-characteristic-name .active:hover {
  background: #E6E6E6;
}
#inner-vesta .your-characteristic-name button {
  width: 368px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #52595D;
  cursor: pointer;
  border: none;
  border-bottom: 1px dotted #52595D;
  -webkit-transform: rotate(0.16deg);
      -ms-transform: rotate(0.16deg);
          transform: rotate(0.16deg);
  background: #FFFFFF;
}
#inner-vesta .your-characteristic-name button:active {
  border: none;
  outline: 0;
}
#inner-vesta .your-characteristic-name button:focus {
  outline: 0;
  border: none;
}
#inner-vesta .your-characteristic-name button:nth-child(4) {
  border: none;
}
#inner-vesta .your-characteristic-name button:hover {
  background: #f0f0f0;
  color: #222222;
}
@media (max-width: 1024px) {
  #inner-vesta .car-configuration-heading {
    padding: 0 20px;
  }
}
@media (max-width: 960px) {
  #inner-vesta .car-configuration-tab p {
    font-size: 16px;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  #inner-vesta .container {
    overflow: hidden;
  }
  #inner-vesta .inner-page-car {
    height: auto;
    padding: 60px 0;
  }
  #inner-vesta .inner-banner-content {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #inner-vesta .vesta-car-img img {
    max-width: 160%;
  }
  #inner-vesta .car-configuration-tabs-all2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #inner-vesta .car-configuration-tab:nth-child(4) {
    border-right-color: #fff;
    border-right-width: 3px;
    border-right-style: solid;
  }
  #inner-vesta .car-configuration-tab {
    border-bottom: 4px solid #ffffff;
  }
  #inner-vesta .car-configuration-heading {
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #inner-vesta .your-characteristic-name button {
    width: 300px;
  }
  #inner-vesta .fit-your-choice-car {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #inner-vesta .fit-your-choice-car-info {
    margin: 10px 0 0 auto;
  }
}
@media (max-width: 560px) {
  #inner-vesta .car-configuration-heading h1 {
    line-height: 41px;
    margin: 0 0 20px;
  }
  #inner-vesta .price-choice h1 {
    margin: 10px 0;
  }
  #inner-vesta .choice-characteristic-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #52595D;
  }
  #inner-vesta .choice-characteristic-after a {
    width: 90%;
  }
  #inner-vesta .choice-characteristic-table {
    width: 90%;
  }
  #inner-vesta .your-characteristic-all {
    width: 90%;
    margin: 10px auto 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #inner-vesta .your-characteristic-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 20px;
  }
  #inner-vesta .your-characteristic-heading-all {
    width: 85%;
    margin: 0 auto;
  }
  #inner-vesta .fit-your-choice-car-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #inner-vesta .fit-your-choice-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 10px;
  }
  #inner-vesta .fit-your-choice-car {
    width: 90%;
  }
  #inner-vesta .fit-your-choice h1 {
    width: 90%;
  }
  #inner-vesta .car-configuration-tabs-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  #inner-vesta .car-configuration-tabs-all2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px auto;
  }
  #inner-vesta .fit-your-choice-color p {
    font-size: 12px;
    width: 90%;
    line-height: 14px;
  }
  #inner-vesta .lada-all {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 28px;
    padding: 0 0 65px 0;
  }
}
@media (max-width: 320px) {
  #inner-vesta .your-characteristic-name button {
    width: 220px;
    height: 40px;
  }
  #inner-vesta .inner-page-car-info div {
    width: 275px;
  }
  #inner-vesta .inner-page-car-info a {
    width: 275px;
  }
  #inner-vesta .inner-page-car-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #inner-vesta .download-price p {
    font-size: 20px;
    line-height: 20px;
  }
  #inner-vesta .table-price-slider div span {
    font-size: 14px;
    margin: 10px 12px;
  }
}
#inner-vesta.char .car-configuration-heading h1 {
  max-width: 100%;
}
#inner-vesta.char .car-characteristics-img {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#inner-vesta.char .car-characteristics-img > div {
  width: 50%;
}
#inner-vesta.char .car-characteristics-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#inner-vesta.char .car-characteristics-info ul {
  list-style: none;
  color: #7d7d7d;
}
#inner-vesta.char .car-characteristics-info .right-table {
  width: 40%;
}
#inner-vesta.char .car-characteristics-info .right-table li {
  text-align: right;
  padding: 0 10px 0 40px;
  min-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  border-bottom: 1px dotted #52595D;
}
#inner-vesta.char .car-characteristics-info .right-table li.orange {
  color: #ed6b21;
  font-size: 18px;
}
@media (max-width: 1120px) {
  #inner-vesta.char .car-characteristics-info .right-table li {
    padding: 0 10px 0 0;
  }
}
#inner-vesta.char .car-characteristics-info .left-table {
  width: 60%;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#inner-vesta.char .car-characteristics-info .left-table ul li {
  text-align: center;
  min-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  border-bottom: 1px dotted #52595D;
}
#inner-vesta.char .car-characteristics-info .left-table ul li.orange {
  color: #ed6b21;
  font-size: 18px;
}
#inner-vesta.char .car-characteristics-info .left-table#characteristic-slider {
  position: relative;
}
#inner-vesta.char .car-characteristics-info .left-table#characteristic-slider .slick-slide {
  width: 100%;
}
#inner-vesta.char .car-characteristics-info .left-table#characteristic-slider .slick-prev, #inner-vesta.char .car-characteristics-info .left-table#characteristic-slider .slick-next {
  background: #c7c7c7;
  width: 30px;
  height: 30px;
}
#inner-vesta.char .car-characteristics-info .left-table#characteristic-slider .slick-prev:before, #inner-vesta.char .car-characteristics-info .left-table#characteristic-slider .slick-next:before {
  font-family: fantasy;
  font-size: 20px;
  line-height: 0.5;
  color: #252b2f;
  opacity: 2;
}
#inner-vesta.char .car-characteristics-info .left-table#characteristic-slider .slick-prev {
  left: 25px;
}
#inner-vesta.char .car-characteristics-info .left-table#characteristic-slider .slick-next {
  right: 5px;
}
#inner-vesta.char .info-after-table {
  margin: 30px 0;
}
#inner-vesta.char .info-after-table p {
  color: #c6c6c6;
  font-size: 11px;
}
#inner-vesta.manual .manualFlexGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#inner-vesta.manual .manualFlexGrid > div {
  width: 25%;
  margin-bottom: 30px;
}
@media (max-width: 1120px) {
  #inner-vesta.manual .manualFlexGrid > div {
    width: 33.3%;
  }
}
@media (max-width: 760px) {
  #inner-vesta.manual .manualFlexGrid > div {
    width: 50%;
  }
}
@media (max-width: 460px) {
  #inner-vesta.manual .manualFlexGrid > div {
    width: 100%;
  }
}
#inner-vesta.manual .manualFlexGrid > div .manual-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}
@media (max-width: 960px) {
  #inner-vesta.manual .manualFlexGrid > div .manual-item {
    padding: 0 10px 0 0;
  }
}
#inner-vesta.manual .manualFlexGrid > div .manual-item p {
  padding-left: 15px;
  font-size: 16px;
  color: #222222;
}
@media (max-width: 760px) {
  #inner-vesta.manual .info-after-table {
    margin: 0;
  }
}

.banner {
  margin-top: -100px;
  height: 650px;
  width: 100%;
  min-height: 50px;
  background-image: url(../../../img/png/ban1.png), url(../../../img/jpg/banner.jpg);
  background-attachment: scroll;
  background-size: contain, cover;
  display: block;
  background-position: 50% 100%, 50% 50%;
  background-repeat: no-repeat, repeat;
  position: relative;
}
@media (max-width: 1024px) {
  .banner {
    height: 480px;
  }
}
@media (max-width: 640px) {
  .banner {
    height: 300px;
  }
}

.content {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .flexGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 640px) {
  .content .flexGrid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.content .flexGrid > div {
  margin-top: 60px;
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
}
@media (max-width: 960px) {
  .content .flexGrid > div {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .content .flexGrid > div {
    width: 90%;
    padding: 0 20px;
  }
}
.content .flexGrid > div .carName {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.3em;
  margin: 20px 0px 0px 0%;
  color: #5b6770;
}
.content .flexGrid > div .carBtn {
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
  height: 50px;
  font-weight: 500;
  line-height: 1.3em;
  color: #5b6770;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-box-shadow: #cbd6de 0px 13px 15px -8px;
  box-shadow: #cbd6de 0px 13px 15px -8px;
  background-color: #cbd6de;
}
.content .flexGrid > div .carBtn:hover {
  cursor: pointer;
  color: white;
  background: #5b6770;
}
.content .info {
  margin: 100px 0 0 0;
}
@media (max-width: 640px) {
  .content .info {
    margin: 40px 0 0 0;
  }
}
.content .info .info-content {
  width: 100%;
  height: 650px;
  background-image: url(../../../img/jpg/content1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cbd6de;
  position: relative;
}
@media (max-width: 960px) {
  .content .info .info-content {
    height: 500px;
  }
}
@media (max-width: 640px) {
  .content .info .info-content {
    height: 400px;
  }
}
@media (max-width: 580px) {
  .content .info .info-content {
    height: 700px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.content .info .info-content:before {
  position: absolute;
  content: "";
  background-image: url("../../../img/png/ban4.png");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}
@media (max-width: 580px) {
  .content .info .info-content:before {
    height: 42px;
  }
}
.content .info .info-content .info-text {
  width: 45%;
  float: right;
  padding-right: 100px;
}
@media (max-width: 1024px) {
  .content .info .info-content .info-text {
    width: 47%;
    padding-right: 60px;
  }
}
@media (max-width: 640px) {
  .content .info .info-content .info-text {
    width: 50%;
    padding: 30px 30px 0 0;
  }
}
@media (max-width: 580px) {
  .content .info .info-content .info-text {
    display: none;
  }
}
.content .info .info-content:nth-child(2) {
  margin-top: 10px;
  background-image: url("../../../img/jpg/content2.jpg");
  background-position: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 580px) {
  .content .info .info-content:nth-child(2) {
    height: 500px;
    background-image: url("../../../img/jpg/content8.jpg");
    background-size: 740px;
    background-position: -99px 0px;
  }
}
.content .info .info-content:nth-child(2):before {
  content: none;
}
.content .info .info-content:nth-child(2):after {
  background-image: url("../../../img/png/ban5.png");
  bottom: 0;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 100px;
}
@media (max-width: 580px) {
  .content .info .info-content:nth-child(2):after {
    height: 42px;
  }
}
.content .info .info-content:nth-child(2) .info-text {
  width: 55%;
  padding-left: 100px;
  padding-top: 200px;
}
@media (max-width: 960px) {
  .content .info .info-content:nth-child(2) .info-text {
    padding: 40px 20px 0 40px;
  }
}
@media (max-width: 580px) {
  .content .info .info-content:nth-child(2) .info-text {
    display: none;
  }
}
.content .info .info-text-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1em;
  color: #cbd6de;
}
@media (max-width: 640px) {
  .content .info .info-text-title {
    font-size: 30px;
  }
}
.content .info .info-text-description {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.3em;
  margin: 20px 0 0 0;
  color: white;
  display: block;
}
@media (max-width: 640px) {
  .content .info .info-text-description {
    font-size: 18px;
  }
}
.content .info .media-info-text {
  display: none;
  background-color: black;
  padding: 40px 40px 60px;
  color: #cbd6de;
}
@media (max-width: 580px) {
  .content .info .media-info-text {
    display: block;
  }
}
@media (max-width: 580px) {
  .content section {
    margin-top: 40px;
  }
}
.content section > .vista-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content section > .vista-content > div {
  width: 50%;
}
@media (max-width: 960px) {
  .content section > .vista-content > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.content section > .vista-content > div h1 {
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 400;
  line-height: 1em;
  color: #5b6770;
}
@media (max-width: 640px) {
  .content section > .vista-content > div h1 {
    font-size: 40px;
  }
}
.content section > .vista-content > div p {
  padding-left: 20px;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.3em;
  clear: none;
  color: #5b6770;
}
@media (max-width: 1024px) {
  .content section > .vista-content > div p {
    padding-left: 0px;
  }
}
@media (max-width: 640px) {
  .content section > .vista-content > div p {
    font-size: 18px;
    margin-top: 20px;
  }
}
.content section > .vista-content > div .vista-subTitle {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1em;
  color: #5b6770;
}
@media (max-width: 1024px) {
  .content section > .vista-content > div .vista-subTitle {
    padding-right: 50px;
  }
}
@media (max-width: 960px) {
  .content section > .vista-content > div .vista-subTitle {
    padding: 0;
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }
}
.content .vista-car-block {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 600px;
}
@media (max-width: 960px) {
  .content .vista-car-block {
    margin-top: 40px;
    height: 500px;
  }
}
@media (max-width: 580px) {
  .content .vista-car-block {
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.content .vista-car-block:after {
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("../../../img/png/ban6.png");
  background-repeat: no-repeat;
}
.content .first-div {
  height: 100%;
  width: 38%;
  position: relative;
  border-right-width: 5px;
  border-right-color: white;
  border-right-style: solid;
}
@media (max-width: 580px) {
  .content .first-div {
    width: 100%;
    height: 400px;
  }
}
.content .first-div img {
  height: 100%;
  width: 100%;
}
.content .second-div {
  height: 100%;
  width: 62%;
  position: relative;
  border-left-width: 5px;
  border-left-color: white;
  border-left-style: solid;
}
@media (max-width: 580px) {
  .content .second-div {
    width: 100%;
    height: 400px;
    border-left-width: 0;
    margin-top: 10px;
  }
}
.content .second-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .child {
  height: 160px;
  width: 100%;
  padding: 40px;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.498039);
}
@media (max-width: 580px) {
  .content .child {
    height: 100px;
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.content .child p {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.3em;
  color: white;
}
@media (max-width: 960px) {
  .content .child p {
    font-size: 18px;
  }
}
@media (max-width: 640px) {
  .content .child p {
    font-size: 16px;
  }
}
.content .vista-big-car-block {
  padding-top: 10px;
  height: 600px;
  width: 100%;
  position: relative;
}
@media (max-width: 960px) {
  .content .vista-big-car-block {
    height: 500px;
  }
}
.content .vista-big-car-block img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 580px) {
  .content .vista-big-car-block .child {
    height: 140px;
  }
}
.content .vista-car-block-2 {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  position: relative;
}
@media (max-width: 960px) {
  .content .vista-car-block-2 {
    height: 500px;
  }
}
@media (max-width: 580px) {
  .content .vista-car-block-2 {
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.content .vista-car-block-2 .first-div {
  border-right-width: 0;
  border-left-width: 5px;
  border-left-color: white;
  border-left-style: solid;
}
.content .vista-car-block-2 .first-div img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 580px) {
  .content .vista-car-block-2 .first-div {
    margin-top: 10px;
    border-left-width: 0;
  }
}
.content .vista-car-block-2 .first-div .child {
  height: 220px;
}
@media (max-width: 580px) {
  .content .vista-car-block-2 .first-div .child {
    height: 160px;
  }
}
.content .vista-car-block-2 .second-div {
  border-left-width: 0;
  border-right-width: 5px;
  border-right-color: white;
  border-right-style: solid;
}
@media (max-width: 580px) {
  .content .vista-car-block-2 .second-div {
    border-right-width: 0;
    margin-top: 0;
  }
}
.content .vista-car-block-2 .second-div .child {
  height: 220px;
}
@media (max-width: 580px) {
  .content .vista-car-block-2 .second-div .child {
    height: 160px;
  }
}
.content .vista-car-block-2:after {
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("../../../img/png/ban5.png");
  background-repeat: no-repeat;
}
@media (max-width: 960px) {
  .content .vista-car-block-2:after {
    height: 56px;
  }
}
.content .vista-feature {
  margin-top: 40px;
}
.content .vista-feature .vista-feature-title {
  display: block;
  width: 60%;
  font-size: 60px;
  text-align: left;
  font-weight: 400;
  line-height: 1em;
  color: #5b6770;
}
@media (max-width: 960px) {
  .content .vista-feature .vista-feature-title {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
  }
}
.content .vista-feature .vista-feature-table {
  margin-top: 20px;
  padding: 0 30px;
}
.content .vista-feature .vista-feature-table .orange {
  color: #ed6b21;
}
.content .vista-feature .vista-feature-table ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.content .vista-feature .vista-feature-table ul li {
  padding: 10px 0;
  border-bottom: 1px dotted #7d7d7d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #7d7d7d;
}
@media (max-width: 768px) {
  .content .vista-feature .vista-feature-table ul li {
    font-size: 16px;
  }
}
.content .vista-feature .vista-feature-table ul li:nth-child(odd) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  width: 40%;
  padding-right: 10px;
}
@media (max-width: 768px) {
  .content .vista-feature .vista-feature-table ul li:nth-child(odd) {
    width: 50%;
  }
}
.content .vista-feature .vista-feature-table ul li:nth-child(even) {
  margin-left: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
}
@media (max-width: 768px) {
  .content .vista-feature .vista-feature-table ul li:nth-child(even) {
    width: 45%;
  }
}
.content .vista-feature .vista-feature-table ul .first {
  border-bottom: none;
}
.content .vista-feature .vista-feature-table ul .second {
  border-bottom: 1px dotted #ed6b21;
}
.content .vista-feature .vista-feature-table ul .orange {
  color: #ed6b21;
}
.content .vista-feature .little-info {
  display: block;
  padding: 0 30px;
  margin-top: 30px;
  color: #c6c6c6;
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
}
.content .vista-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0;
}
.content .vista-box .orange-btn {
  padding: 15px 0;
  width: 460px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.3em;
  color: white;
  background-color: #fa6900;
  border-radius: 25px;
  -webkit-box-shadow: #fa6900 0px 13px 15px -8px;
          box-shadow: #fa6900 0px 13px 15px -8px;
}
@media (max-width: 1024px) {
  .content .vista-box .orange-btn {
    width: 400px;
  }
}
@media (max-width: 960px) {
  .content .vista-box .orange-btn {
    width: 300px;
  }
}
@media (max-width: 460px) {
  .content .vista-box .orange-btn {
    width: 100%;
  }
}
.content .vista-box .text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.3em;
  color: #5b6770;
  margin: 0;
}
@media (max-width: 768px) {
  .content .vista-box .text {
    width: 100%;
    margin-top: 40px;
  }
}
@media (max-width: 640px) {
  .content .vista-box .text {
    font-size: 18px;
    padding-left: 0;
  }
}
.content .vista-video {
  height: auto;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  margin-top: 30px;
}
.content .vista-video iframe, .content .vista-video object, .content .vista-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.model .banner {
  background-image: url(../../../img/png/ban1.png), url(../../../img/jpg/model/vesta.jpg);
}
.model .content.no-padding {
  padding: 0;
}
.model .content .info {
  margin: 60px 0 0 0;
}
.model .content .info .info-content {
  background-image: url(../../../img/jpg/model/model1.1.jpg);
}
.model .content .info .info-content.model {
  background-image: url(../../../img/jpg/model/model1.5.jpg);
}
.model .content .model-vista-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 0;
}
@media (max-width: 780px) {
  .model .content .model-vista-content {
    margin: 10px 0;
  }
}
.model .content .model-vista-content > div {
  width: 50%;
}
@media (max-width: 780px) {
  .model .content .model-vista-content > div {
    width: 100%;
  }
}
.model .content .model-vista-content > div .vista-subTitle {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1em;
  color: #5b6770;
}
.model .content .model-vista-content > div p {
  padding-left: 20px;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.3em;
  clear: none;
  color: #5b6770;
}
@media (max-width: 780px) {
  .model .content .model-vista-content > div .vista-subTitle {
    font-size: 28px;
  }
  .model .content .model-vista-content > div p {
    padding-left: 0;
    font-size: 18px;
    margin-top: 20px;
  }
}
@media (max-width: 780px) {
  .model .content .model-vista-content > div .vista-subTitle {
    font-size: 22px;
  }
  .model .content .model-vista-content > div p {
    font-size: 16px;
  }
}
.model .content .vista-car-block-2 {
  margin-bottom: 60px;
}
.model .content .vista-car-block-2.model {
  margin-bottom: 0px;
}
.model .content .vista-car-block-2.model:after {
  content: none;
}
.model .content .vista-car-block-2.imgModel {
  height: 750px;
}
.model .content .enginerGrid {
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.model .content .enginerGrid > div {
  width: 33.3%;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .model .content .enginerGrid > div {
    width: 100%;
  }
}
.model .content .enginerGrid > div .enginer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.model .content .enginerGrid > div .enginer-item .enginer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}
.model .content .enginerGrid > div .enginer-item .enginer-info p {
  font-size: 21px;
  font-weight: 500;
  color: #5b6770;
  padding: 0;
  margin: 0;
}
@media (max-width: 1024px) {
  .model .content .enginerGrid > div .enginer-item .enginer-info p {
    font-size: 18px;
  }
}
@media (max-width: 680px) {
  .model .content .enginerGrid > div .enginer-item .enginer-info p {
    font-size: 16px;
  }
}
.model .content .enginerGrid > div .enginer-item .enginer-info p:nth-child(odd) {
  color: #fa6900;
}
@media (max-width: 768px) {
  .model .content .enginerGrid > div .enginer-item .enginer-info {
    margin-top: 60px;
  }
}
@media (max-width: 548px) {
  .model .content .enginerGrid > div .enginer-item .enginer-info {
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  .model .content .enginerGrid > div .enginer-item .enginer-info {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .model .content .enginerGrid > div .enginer-item {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .model .content .enginerGrid > div .enginer-item img {
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 450px) {
  .model .content .enginerGrid > div .enginer-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .model .content .enginerGrid > div .enginer-item img {
    margin: 0 auto;
  }
}
.model .model-banner {
  height: 750px;
  width: 100%;
  position: relative;
}
@media (max-width: 1240px) {
  .model .model-banner {
    height: 600px;
  }
}
@media (max-width: 780px) {
  .model .model-banner {
    height: 400px;
  }
}
@media (max-width: 560px) {
  .model .model-banner {
    height: 300px;
  }
}
.model .model-banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.model .model-banner:before {
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url(../../../img/png/ban4.png);
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .model .model-banner:before {
    height: 90px;
  }
}
@media (max-width: 700px) {
  .model .model-banner:before {
    height: 50px;
  }
}
.model .model-banner:after {
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url(../../../img/png/ban5.png);
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .model .model-banner:after {
    height: 90px;
  }
}
@media (max-width: 700px) {
  .model .model-banner:after {
    height: 50px;
  }
}
.model section .parallax.model-1 {
  height: 1000px;
  position: relative;
  background-image: url(../../../img/jpg/model/parallax1.jpg);
}
.model section .parallax.model-1:before {
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url(../../../img/png/ban4.png);
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .model section .parallax.model-1:before {
    height: 90px;
  }
}
@media (max-width: 700px) {
  .model section .parallax.model-1:before {
    height: 50px;
  }
}
.model section .parallax.model-1:after {
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url(../../../img/png/ban5.png);
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .model section .parallax.model-1:after {
    height: 90px;
  }
}
@media (max-width: 700px) {
  .model section .parallax.model-1:after {
    height: 50px;
  }
}
.model .vesta-model-img img {
  display: none;
}
.model .vesta-model-img input:checked + img {
  display: block;
}
.model .vesta-model-info .text-info input:checked + div {
  display: block;
}
.model .color-car-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -7px 0 0 0;
}
.model .color-car-all label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 25px;
  position: relative;
}
.model .color-car-all label:hover:after {
  content: "";
  background-image: url("../../../img/png/corner_up.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  min-width: 18px;
  height: 7px;
  right: 0;
  left: 0;
  bottom: 0;
}
.model .vesta-model-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
}
.model .vesta-model-info .vistaSubTitle {
  width: 50%;
  margin: 0;
}
.model .vesta-model-info .text-info {
  width: 50%;
}
.model .vesta-model-info .text-info > div {
  display: none;
}
.model .vesta-model-info .text-info > div h5 {
  font-size: 30px;
  line-height: 1em;
  color: #fa6900;
  padding: 0;
}
.model .vesta-model-info .text-info > div p {
  min-height: 83px;
  color: #5b6770;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.3em;
}

h0 {
  font-size: 20px;
}