* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-weight: normal;
    background-color: #ffffff;

}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1024px) {
        padding:  0 20px ;
    }
    @media (max-width: 640px){

        overflow: hidden;
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}


a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: transparent;
    }
}
h3 {margin: 0}

img {
    max-width: 100%;
    display: block;
}
p, ul, li, hr {
    margin: 0;
    padding: 0;
}
.link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
}
