section {
  .xray-content {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      color: rgb(237, 107, 33);
      line-height: 100px;
      font-size: 100px;
      margin-bottom: 20px;
      text-transform: capitalize;
      @media (max-width: 1024px){
        font-size: 70px;
        margin: 0;
      }
      @media (max-width: 768px){
        font-size: 50px;
      }
      @media (max-width: 560px){
        font-size: 40px;
      }
    }
  }
  .design-description {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    div:nth-child(1) {
      width: 30%;
      padding-right: 20px;
      @media (max-width: 768px) {
        width: 100%;
        padding: 0;
      }
      p {
        color: rgb(237, 107, 33);
        font-size: 36px;
        font-weight: normal;
        @media (max-width: 560px) {
          font-size: 28px;
        }
      }
    }

    div:nth-child(2) {
      width: 70%;
      @media (max-width: 768px) {
        width: 100%;
      }

      span {
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
        color: rgb(77, 86, 102);
      }

      .statment {
        margin-top: 60px;
        float: right;
        width: 80%;
        display: flex;
        text-align: right;
        align-items: center;
        justify-content: space-between;
        font-style: italic;
        @media (max-width: 560px){
          margin-top: 20px;
          width: 100%;
          span {
            padding-left: 15px;
            font-size: 14px;
          }
        }

        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

section {
  .utubeVideo {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    margin-top: 30px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .photo-gallery {
    margin: 30px 0;

    p {
      color: rgb(237, 107, 33);
      font-size: 36px;
      font-weight: normal;
    }

    .gallery-img {
      display: flex;
      flex-wrap: wrap;


      > a {
        display: flex;
        width: 25%;
        height: 240px;
        justify-content: center;
        align-items: center;
        @media(max-width: 1240px) {
          width: 33.3%;
          height: 180px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        @media(max-width:786px) {
          width: 50%;
        }
        @media(max-width:540px) {
          width: 50%;
          height: 120px;
          img {
            width: 80%;
            height: 80%;
            object-fit: cover;
          }
        }



      }
    }
  }
  .more-box {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 560px) {
      flex-wrap: wrap;
    }

    span {
      font-size: 24px;
      font-weight: normal;
      line-height: 1em;
      color: rgb(125, 125, 125);
      padding-left: 100px;
      @media (max-width: 768px) {
        padding: 0;
      }
      @media (max-width: 560px) {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .btn-more {
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background: rgb(237, 107, 33);
      width: 294px;
      height: 50px;
      @media (max-width: 560px){
        margin: 0 auto ;
      }

      p {
        margin: 0;
        color: #ffffff;
      }

      img {
        width: 45px;
        height: 100%;
      }
    }
  }
  .big-salon-img {
    display: flex;
    flex-wrap: wrap;
    height: 750px;
    overflow: hidden;
    > div {
      height: 100%;
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media (max-width: 786px){
        width: 100%;
        height: 50%;

      }

    }
    > div:nth-child(2) {
      border-left: 10px solid #ffffff;
      @media (max-width: 768px){
        height: 40%;
        border-left: 0;
        display: flex;
        border-bottom: 1px solid #c6c6c6;
      }
      > div {
        height: 50%;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @media (max-width: 786px){
          width: 50%;
          height: 100%;

        }

      }
      >div:nth-child(2){
        border-top: 5px solid #ffff;
        @media (max-width: 786px){
          border-top: 0;
          border-left: 5px solid #ffffff;

        }
    }
  }
}
  .full {
    height: 700px;
    @media (max-width:768px){
      height: 400px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .parallax {
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 1024px){
      min-height: 500px;
    }
    @media (max-width: 560px){
      min-height: 350px;
    }
  }
  .vision1 {
    background-image: url("../../../img/jpg/parallax4_4.jpg");
  }
  .vision2 {
    background-image: url("../../../img/jpg/parallax4_4-2.jpg");
  }
  .vision3 {
    background-image: url("../../../img/jpg/parallax4_4-3.jpg");
  }
  .vision4 {
    background-image: url("../../../img/jpg/parallax4_4-4.jpg");
  }
  .xcode1 {
    background-image: url("../../../img/jpg/paralax-xcode1.jpg");
  }
  .xcode2 {
    background-image: url("../../../img/jpg/paralax-xcode2.jpg");
  }
  .xray1 {
    background-image: url("../../../img/jpg/paralax1.jpg");
  }
  .xray2 {
    background-image: url("../../../img/jpg/paralax2.jpg");
  }





}




