.concept-banner {
  margin-top: -100px;
  width: 100%;
  height: 900px;
  background-image: url(../../../img/jpg/banner2.jpg);
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @media (max-width: 960px) {
    height: 700px;
    width: 100%;
  }
  @media (max-width: 580px) {
    height: 500px;
    width: 100%;
  }

  .swiper-container {
    height: 80%;
    width: 80%;
    @media (max-width: 960px) {
      width: 70%;
    }
    @media (max-width: 780px) {
      width: 60%;
    }
    @media (max-width: 640px) {
      width: 100%;
    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      img {
        margin: 50px 0;
        @media (max-width: 640px) {
          width: 80%;

        }
      }



      .car-title {
        font-size: 71px;
        font-weight: normal;
        line-height: 1em;
        color: rgb(255, 255, 255);
        @media (max-width: 768px) {
          font-size: 38px;
        }

      }

      a {
        display: block;
        padding: 10px 115px;
        border-radius: 30px;
        border: solid 2px rgb(255, 255, 255);;
        text-transform: lowercase;
        color: rgb(255, 255, 255);;
        font-size: 34px;
        font-weight: 300;
        line-height: 41px;
        @media (max-width: 768px) {
          font-size: 18px;
          padding: 5px 70px;
        }
      }
    }

    .swiper-button-next, .swiper-button-prev {
      color: #c6c6c6;

      &:after {
        font-size: 70px;
        @media (max-width: 768px) {
          font-size: 40px;
        }
      }
    }
    .swiper-button-next{
      @media (max-width: 580px){
        right: 0;
      }
    }
    .swiper-button-prev{
      @media (max-width: 580px){
        left: 0;
      }
    }



  }


}


