.h1{}
.h2{}
.h3{}
.h4{}
.h5{}
.h6{}
.subtitle1{}
.subtitle2{}
.body1{}
.body2{}

.btn{
    display: inline-flex;
    height: 50px;
    padding: 0 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none !important;
    transition: 0.3s;
    background-color: #333;
    color: #fff;
}
.btn.btn-warning{
    &:hover{

    }
}
.btn.btn-danger{
    &:hover{

    }
}
.btn.btn-success{
    &:hover{

    }
}
.btn.btn-info{
    &:hover{

    }
}
.btn.btn-default{
    &:hover{

    }
}
.vistaTitle {
    font-size: 80px;
    font-weight: normal;
    line-height: 1em;
    color: rgb(250, 105, 0);
    width: 100%;
    text-align: center;
    @media (max-width: 960px) {
        font-size: 60px;
    }
    @media (max-width: 640px){
        font-size: 40px;
    }
}
.vistaText {
    margin-top: 60px;
    font-size: 21px;
    width: 100%;
    font-weight: 500;
    line-height: 1.3em;
    color: rgb(91, 103, 112);
    @media (max-width: 960px) {
        margin-top: 40px;
    }
    @media (max-width: 640px){
        font-size: 18px;
    }
}
.vistaSubTitle {
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    margin: 40px 0px 0px;
    color: rgb(91, 103, 112);
    display: block;
    @media (max-width: 640px) {
        font-size: 24px;
    }
}