footer {
    background-color: #495966; 
    color: #ffffff;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        background-image: url(../../../img/png/ban4.png);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 140px;
        @media (max-width: 460px){
            height: 80px;
        }
    }
    .footer{
        padding: 120px 0 30px 0;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 460px){
            padding: 60px 0;
        }
        .right-footer, .left-footer {
            width: 50%;
            @media (max-width: 830px) {
                width: 100%;
            }
        }
        .right-footer {
            display: flex;
            flex-wrap: wrap;
            > div {
                width: 50%;
                padding: 0 15px ;
                @media (max-width: 460px){
                    width: 100%;
                }
                h3 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 20px;
                    color: #FFFFFF;
                }
                hr {
                    &.hrClass {
                        margin: 16px 0 8px 0;
                        border: 2px solid #F7761F;
                        width: 130px;
                    }
                }
                .footer-links {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 36px;
                    @media (max-width: 460px){
                        margin-bottom: 20px;
                    }
                    a {
                        font-style: normal;
                        color: #FFFFFF;
                        font-weight: 500;
                        font-size: 18px;
                        line-height:20px;
                        margin: 8px 0;
                        &:hover {
                            color: #8396a5
                        }
                    }
                }
                
            }
        }
        .left-footer {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 20px;
            a {
                display: block;
                font-weight: 500;
                font-size: 40px;
                line-height: 45px;
                color: #FFFFFF;
                margin: 20px 0 36px 0;
                @media (max-width: 460px){
                    font-size: 28px;
                    margin:  10px 0 ;
                }
                
            }
            p {
                margin-bottom: 22px;
            }
            .social-icons {
                display: flex;
                height: auto;
                margin-bottom: 24px;
                a {
                    display: flex;
                    width: 24px;
                    height: 24px;
                    margin: 0 10px 0 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    
                    &:hover {
                       cursor: pointer;
                    }
                    &.vk {
                        background-image: url(../../../img/svg/vk.svg);
                        &:hover {
                            background-image: url(../../../img/svg/vk1.svg);
                        }
                    }
                    &.fb {
                        background-image: url(../../../img/svg/fb.svg);
                        &:hover {
                            background-image: url(../../../img/svg/fb1.svg);
                         }
                    }
                    &.tw {
                        background-image: url(../../../img/svg/tw.svg);
                        &:hover {
                            background-image: url(../../../img/svg/tw1.svg);
                         }
                    }
                    &.insta {
                        background-image: url(../../../img/svg/insta.svg);
                        &:hover {
                            background-image: url(../../../img/svg/insta1.svg);
                         }
                    }
                    &.youtube {
                        background-image: url(../../../img/svg/youtube.svg);
                        &:hover {
                            background-image: url(../../../img/svg/youtube1.svg);
                        }
                    }
                    &.ok {
                        background-image: url(../../../img/svg/ok.svg);
                        &:hover {
                            background-image: url(../../../img/svg/ok1.svg);
                        }
                    }
                }
            }
        }
    }
}