header {
    .main-header { 
        position: relative;
        background-image: url(../../../img/png/header.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 160px;
        width: 100%;
        z-index: 3;
        // @media (max-width: 460px) {
        //     height: 200px;
        // }
        .header {
            display: flex;
            padding: 30px 0;
            align-items: center;
            justify-content: space-between;
            z-index: 11111111111111;
            .left-header {
                display: flex;
                align-items: center;
                .logo {
                    background-image: url(../../../img/logo.jpg);
                    background-repeat: no-repeat;
                    width: 215px;
                    height: 46px;
                    display: flex;
                    margin-right: 48px;
                    @media (max-width: 540px){
                        width: 120px;
                        background-size: contain;
                        background-position: center;
                        margin-right: 30px;
                    }
                }
                .get-location {
                    display: block;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: #4F4F4F;
                    position: relative;
                    height: 100%;
                    &:before {
                        content: '';
                        height: 46px;
                        width: 1px;
                        position: absolute;
                        background: #BFBFBF;
                        top: -14px;
                        margin-left: -24px;
                        @media (max-width: 540px){
                            margin-left: -14px;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 16px;
                        background-position: center;
                        background-repeat: no-repeat;
                        right: -20px;
                        top: 0;
                        background-image: url(../../../img/svg/geo.svg);
    
                    }
                    &:hover {
                        cursor: pointer;
                    }

                }
            }
            .right-header {
                display: flex;
                align-items: center;
                nav {
                    .nav {
                        @media (max-width: 640px) {
                            display: none;
                        }
                    }
                    a {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        color: #ED6B21;
                        transform: 0.3sec;
                        margin-left: 50px;
                        position: relative;
                        &:hover {
                            color: #495966;
                            cursor: pointer;
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            width: 24px;
                            height: 24px;
                            background-position: center;
                            background-repeat: no-repeat;
                            left: -30px;
                            top: -2px
                        } 
                        &.mobile-row-header {
                            &:before {
                                background-image: url(../../../img/svg/header-icon1.svg);
                            }
                        }
                        &.stocks {
                            &:before {
                                background-image: url(../../../img/svg/header-icon2.svg);
                            }
                        }
                        &.news {
                            &:before {
                                background-image: url(../../../img/svg/header-icon4.svg);
                            }
                        }
                        &.test-drive {
                            &:before {
                                background-image: url(../../../img/svg/header-icon3.svg);
                            }
                        }
                       
                       
                    } 
                    .fixed-nav {
                        display: none;
                        @media (max-width: 640px) {
                            display: block;
                        }
                        
                    }
                    
                    
                }
                >div {
                    display: flex;
                    align-items: center;
                    a {
                        &.lang {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            color: #BFBFBF;
                            margin-left: 24px;
                        }
                        &.drop-menu {
                            margin-left: 24px;
                            display: flex;
                            width: 32px;
                            height: 32px;
                            background-image: url(../../../img/svg/burger.svg);
                            background-repeat: no-repeat;
                        }
                    } 
                }
                @media (max-width: 1024px){
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: #ffffff;
                    justify-content: space-between;
                    padding: 10px 40px 10px 10px;
                    box-shadow: rgba(0,0,0,0.34902) 0 0 21px 0;

                }
               
            }
    
        }
    }
    .dropdown-menu {
        background-color: rgba(73,89,102,0.952941);
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;
        z-index: 2;
        display: none;
        transform: all 0.3s;
        &.dropdown-menu-burger {
            &.active {
                display: block;
            }
       }
       &.dropdown-mobile-row {
           &.active {
               display: block;
           }
       }
        .menuGrid {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding: 140px 0 60px 0; 
            @media (max-width: 420px){
                padding: 100px 0;
            }
            >div {
                width: 25%;
                padding-right: 40px;
                display: flex;
                flex-direction: column;
                @media (max-width: 768px){
                    width: 33.3%;
                    margin-top: 20px;
                }
                @media (max-width: 642px){
                    width: 50%;
                }
                @media (max-width: 420px){
                    width: 100%;
                    margin-top: 30px;
                    padding: 0;

                }
              
                h2 {
                    font-weight: bold;
                    color: #FFFFFF;
                    margin: 0;
                    font-size: 18px;

                }
                a{
                    color: #FFFFFF;
                    margin: 8px 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 20px;
                    &:hover {
                        cursor: pointer;
                        color: #8396a5
                    }
                }
                hr {
                    &.hrClass {
                        margin: 16px 0 8px 0;
                        border: 2px solid #F7761F;
                        width: 130px;
                    }
                }
                
            } 
            &.mobileRowGrid {
                >div {
                    width: 20%;
                    margin-bottom: 40px;
                    @media (max-width: 1240px){
                        width: 25%;
                    }
                    @media (max-width: 860px){
                        width: 33.3%;
                    }
                    @media (max-width: 580px){
                        width: 50%;
                        margin-bottom: 10px;
                    }
                    @media (max-width: 480px){
                        padding: 0 10px;
                    }
                    img {
                        width: 150px;
                        height: 70px;
                    }
                    a {
                        margin: 4px;
                    }
                }
            }
        } 
        .container {
            position: relative;
            .dropdown-menu-close {
                position: absolute;
                top: 100px;
                right: 0;
                padding: 0;
                margin: 0;
                width: auto;
                display: flex;
                z-index: 4;
                &:hover {
                    transform: scale(0.9);

                    // a {
                    //     color: #8396a5;
                    //     &:after {
                    //         transform: scale(1.1);
                    //     }
                    // }
                }
                > a {
                    position: relative;
                    display: block;
                    padding-right: 40px;
                    color: #ffffff;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 20px;
                    transition: all 0.3s;
                    &:after {
                        content: '';
                        background-image: url(../../../img/svg/header-close.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 32px;
                        height: 32px;
                        position: absolute;
                        right: 0;
                        top: -5px
                    }
                }
            }

        }
    } 
    
    
}