#main {
  margin-top: -92px;

  .getMore {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    color: #ec6b23;
    padding: 0 18px;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    transition: all ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.498039) 0 13px 21px -8px;

    &:before {
      content: '';
      position: absolute;
      height: 10px;
      width: 100%;
      background-image: url("../../../img/png/lada-corner.png");
      background-repeat: no-repeat;
      background-position: right;
      left: 0;
      bottom: 0;
    }

    &:after {
      content: '';
      position: absolute;
      min-width: 25px;
      width: 25px;
      height: 15px;
      right: 20px;
      background-image: url("../../../img/svg/arrow-orange.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      background: #ec6b23;
      color: #ffffff;

      &:after {
        background-image: url("../../../img/svg/arrow-white.svg");
      }
    }

    img {
      width: 25px;
      height: 100%;
    }

    p {
      margin: 0;

    }

  }

  .main-title {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: rgb(73, 89, 102);
    @media (max-width: 480px) {
      font-size: 28px;
    }
  }

  #banner-slider {
    position: relative;
    overflow: hidden;
    .multiple-banner-slider {
      position: relative;
      &:before {
        content: "";
        background-image: url("../../../img/png/ban1.png");
        background-repeat: no-repeat;
        height: 146px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        @media (max-width: 580px) {
          height: 50px;
        }
      }
      .item-banner {
        height: 650px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
        .info-block {
          position: absolute;
          top: 100px;
          right: 20%;
          color: white;
          padding: 20px;
          max-width: 500px;
  
  
          .title {
            font-size: 45px;
            font-weight: bolder;
            color: rgb(255, 255, 255);
          }
  
          span {
            font-size: 28px;
            font-weight: 500;
            line-height: 1em;
            color: rgb(255, 255, 255);
            margin: 10px 0 30px 0;
            display: block;
          }
  
          @media (max-width: 1440px) {
            right: 5%;
          }
          @media (max-width: 1440px) {
            max-width: 440px;
            .title {
              font-size: 38px;
            }
            span {
              font-size: 22px;
            }
          }
          @media (max-width: 580px) {
            max-width: 280px;
            a {
              width: 260px;
            }
          }
          @media (max-width: 420px) {
            padding: 0;
            max-width: 220px;
            a {
              width: 220px
            }
            .title {
              font-size: 28px;
            }
          }
  
  
        }
  
        @media (max-width: 420px) {
          height: 500px;
        }
  
      }

    }

   

    .banner-slider-number {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: 40%;
      bottom: 200px;

      .slider-controls {
        display: flex;

        .slide-m-prev, .slide-m-next {
          width: 30px;
          height: 40px;
          border: none;

          &:hover {
            cursor: pointer;
          }

          &:focus {
            outline: none
          }
        }

        .slide-m-prev {
          background: url("../../../img/svg/prev.svg") no-repeat center;
        }

        .slide-m-next {
          background: url("../../../img/svg/next.svg") no-repeat center;
          position: absolute;
          left: 270%;
          @media (max-width: 420px) {
            left: 190%;
          }
        }

        .slick-dots {
          bottom: 15px;
          left: 100px;

          li {
            width: 14px;
            height: 4px;
            margin: 0;
            background-color: #BFBFBF;

            .slick-active {
              background: #ffffff;
            }
          }

          li button {
            display: none;
          }

          .slick-active {
            background: #ffffff
          }

          li:nth-child(1) {
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
          }

          li:nth-last-child(1) {
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;

          }


        }
      }

      #banSlideCount1 {
        color: rgb(255, 255, 255);
        font-size: 30px;
        border-right: 1px solid rgb(255, 255, 255);;
        padding: 0 10px;
      }

      #banSlideCount2 {
        color: rgb(255, 255, 255);
        font-size: 18px;
        padding: 0 10px;
      }

      @media (max-width: 1440px) {
        right: 36%;
      }
      @media (max-width: 420px) {
        bottom: 100px;

      }
    }

  }

  .main-content {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    position: relative;
    padding-bottom: 80px;

    &:after {
      content: "";
      background-image: url("../../../img/png/ban8.png");
      background-repeat: no-repeat;
      height: 146px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .choose-car {
      display: flex;
      flex-wrap: wrap;
      margin: 30px 0 60px 0;
      @media (max-width: 820px) {
        margin: 0;
      }

      > div {
        width: 25%;
        padding: 0 20px 0 0;
        display: flex;
        flex-direction: column;

        p {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          color: #495966;
          margin: 18px;
        }

        a {
          display: flex;
          width: 100%;
          border-top: 1px dotted rgb(247, 118, 31);
          padding: 10px 0;
          color: rgb(247, 118, 31);
          position: relative;

          &:after {
            content: '';
            position: absolute;
            background-image: url("../../../img/svg/arrow-orange.svg");
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            min-width: 25px;
            width: 25px;
            bottom: 0;
            right: 10px;

          }

          &:hover {
            color: rgb(73, 89, 102);

            &:after {
              filter: grayscale(100%);
            }
          }

        }

        a:nth-child(2) {
          border-bottom: 1px dotted rgb(247, 118, 31);
        }

        @media (max-width: 920px) {
          p {
            font-size: 18px;
            margin: 10px;
          }
        }
        @media (max-width: 830px) {
          width: 33.3%;
          margin-bottom: 20px;
          a {
            padding: 5px 0
          }
        }
        @media (max-width: 690px) {
          width: 50%;
          padding: 0 20px;
        }
        @media (max-width: 480px) {
          width: 100%;
          display: flex;
          align-items: center;
          img {
            width: 80%;
          }
        }

      }
    }

    .choose-car-2 {
      display: flex;
      flex-wrap: wrap;
      margin: 70px 0;

      > div {
        width: 33.3%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;

        > div {
          display: flex;
        }

        img {
          @media (max-width: 1216px) {
            display: none;
          }
        }

        .text {
          padding-left: 70px;
          margin: 20px 0 0 0;
          font-size: 16px;
          font-weight: 500;
          line-height: normal;
          color: #8396a5;
          @media (max-width: 1216px) {
            padding: 0;
          }
        }

        @media (max-width: 830px) {
          width: 100%;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;
          padding: 0 50px;
          img {
            display: block
          }
          > div {
            width: 100%;
            justify-content: space-between;

            a {
              width: 440px
            }
          }
          .text {
            display: flex;
            justify-content: flex-end;
            text-align: right;
            margin: 5px 0 0 0;
          }
        }
        @media (max-width: 579px) {
          padding: 0;
        }
      }
    }
  }

  .offers-box {
    .special-offers-slider {
      margin: 60px 0;

      .pop {
        box-shadow: rgba(0, 0, 0, 0.498039) 0px 13px 21px -8px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        @media (max-width: 579px) {
          height: 300px;
          width: 360px;
          box-shadow: none;
        }
      }

      .slick-slide {
        margin: 0 15px;
      }

      .slick-list {
        margin: 0 -15px;
      }

      .slick-prev, .slick-next {
        display: none;
        position: absolute;
        z-index: 1;
        top: 126%;
        width: 20px;
        height: 45px;
        @media (max-width: 890px) {
          top: 135%
        }
        @media (max-width: 779px) {
          top: 125%
        }
        //@media (max-width: 579px){
        //  top: 115%
        //}


        &:before {
          display: none;
          font-size: 20px;
          line-height: 1;
          opacity: .75;
          color: transparent;
        }
      }

      .slick-prev {
        background: url("../../../img/svg/left.svg") no-repeat center;
        left: 0;
      }

      .slick-next {
        background: url("../../../img/svg/right.svg") no-repeat center;
        left: 220px;

      }

      .slider-number {
        display: flex;
        align-items: flex-end;
        margin: 0 0 0 20px;
        @media (max-width: 1024px) {
          margin-top: -10px;
        }

        #offerSlide {
          width: 50px;
          font-style: normal;
          font-weight: normal;
          color: #495966;
          font-size: 30px;
          line-height: 41px;
          text-align: right;
          border-right: 1px solid #495966;
          padding: 0 10px 0 0;
        }

        #offerSlide2 {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 40px;
          text-align: center;
          color: #495966;
          padding: 0 0 0 10px;

        }
      }

      .slick-dots {
        bottom: -28%;
        padding: 0 0 0 125px;
        margin: 0;
        text-align: left;
        @media (max-width: 890px) {
          bottom: -40%;
        }
        @media (max-width: 779px) {
          bottom: -30%;
        }
        @media (max-width: 579px) {
          bottom: -25%;
        }


        li {
          width: 9px;
          height: 2px;
          margin: 0;
          background-color: #BFBFBF;
        }

        li button {
          width: 9px;
          padding: 0;
          height: 2px;

          &:before {
            font-size: 6px;
            line-height: 20px;
            width: 9px;
            height: 2px;
            content: ' ';
            text-align: center;
            opacity: 0;
          }
        }

        &:before {
          position: relative;
          z-index: 2;
          background-color: #495966;
        }
      }

      .slick-dotted.slick-slider {
        margin-bottom: 60px;
      }
    }

    .testing {
      height: 200px;
      width: 100%;
      background: #5b6770;
    }
  }

  .news-blog {
    .news {
      display: flex;
      flex-wrap: wrap;

      > div {
        width: 50%;
        padding-right: 15px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;

        p {
          color: rgb(247, 118, 31);
          font-size: 21px;
          font-weight: normal;
          line-height: 1em;
          margin: 0;
        }

        .orange-order {
          height: 5px;
          margin: 10px 0px 10px;
          background-color: rgb(247, 118, 31);
          width: 70px;
          display: block;
          border: 0;
        }

        span {
          font-size: 21px;
          font-weight: normal;
          line-height: normal;
          color: rgb(73, 89, 102);
          overflow: hidden;
          min-height: 100px;
          @media (max-width: 768px) {
            font-size: 18px;
          }
        }

        a {
          color: rgb(191, 191, 191);
          text-decoration: underline;
          font-size: 21px;
          font-weight: normal;
          line-height: 1em;
          display: block;
          @media (max-width: 768px) {
            font-size: 18px;
          }
        }

        @media (max-width: 640px) {
          width: 100%;
          span {
            min-height: fit-content;
            margin-bottom: 10px
          }

        }
      }
    }

    .blog {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 60px;

      h1 {
        font-size: 21px;
        font-weight: normal;
        line-height: 1em;
        color: rgb(247, 118, 31);
        text-decoration: underline;

        &:hover {
          color: rgb(73, 89, 102);
          cursor: pointer;
        }
      }

      > div {
        display: flex;
        @media (max-width: 579px) {
          margin-left: 10px;
        }
      }


    }
  }

}