.model {
  .banner {
    background-image: url(../../../img/png/ban1.png), url(../../../img/jpg/model/vesta.jpg);
  }
  .content {
    &.no-padding {
      padding: 0;
    }

    .info {
      margin: 60px 0 0 0;
    }

    .info .info-content {
      background-image: url(../../../img/jpg/model/model1.1.jpg);

      &.model {
        background-image: url(../../../img/jpg/model/model1.5.jpg);
      }

    }

    .model-vista-content {
      display: flex;
      flex-wrap: wrap;
      margin: 60px 0;
      @media (max-width: 780px) {
        margin: 10px 0;
      }

      > div {
        width: 50%;
        @media (max-width: 780px) {
          width: 100%;
        }

        .vista-subTitle {
          display: block;
          font-size: 40px;
          font-weight: 500;
          line-height: 1em;
          color: #5b6770;
        }

        p {
          padding-left: 20px;
          font-size: 21px;
          font-weight: 500;
          line-height: 1.3em;
          clear: none;
          color: #5b6770;
        }

        @media (max-width: 780px) {
          .vista-subTitle {
            font-size: 28px;
          }
          p {
            padding-left: 0;
            font-size: 18px;
            margin-top: 20px;
          }
        }
        @media (max-width: 780px) {
          .vista-subTitle {
            font-size: 22px;
          }
          p {
            font-size: 16px;
          }
        }

      }
    }

    .vista-car-block-2 {
      margin-bottom: 60px;

      &.model {
        margin-bottom: 0px;

        &:after {
          content: none;
        }
      }

      &.imgModel {
        height: 750px;
      }
    }

    .enginerGrid {
      margin-left: -20px;
      display: flex;
      flex-wrap: wrap;

      > div {
        width: 33.3%;
        padding-left: 20px;

        @media (max-width: 768px) {
          width: 100%;

        }

        .enginer-item {
          display: flex;
          flex-direction: column;
          .enginer-info {
            display: flex;
            flex-direction: column;
            padding-left: 20px;

            p {
              font-size: 21px;
              font-weight: 500;
              color: rgb(91, 103, 112);
              padding: 0;
              margin: 0;
              @media (max-width: 1024px) {
                font-size: 18px;
              }
              @media (max-width: 680px) {
                font-size: 16px;
              }
            }

            p:nth-child(odd) {
              color: rgb(250, 105, 0);
            }
            @media (max-width: 768px){
              margin-top: 60px;
            }
            @media (max-width: 548px){
              margin-top: 30px;
            }
            @media (max-width: 450px) {
              margin-top: 0;
            }
          }

          @media (max-width: 768px) {
            flex-direction: initial;
            img {
              width: 50%;
              height: 50%;
            }
          }
          @media (max-width: 450px) {
            flex-direction: column;
            margin-bottom: 20px;
            img {
              margin: 0 auto;
            }
          }
        }

      }
    }
  }
  .model-banner {
    height: 750px;
    width: 100%;
    position: relative;
    @media (max-width: 1240px) {
      height: 600px;
    }
    @media (max-width: 780px) {
      height: 400px;
    }
    @media (max-width: 560px) {
      height: 300px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &:before {
      height: 130px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: "";
      background-image: url(../../../img/png/ban4.png);
      background-repeat: no-repeat;
      @media (max-width: 1024px) {
        height: 90px;
      }
      @media (max-width: 700px) {
        height: 50px;
      }
    }

    &:after {
      height: 140px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      background-image: url(../../../img/png/ban5.png);
      background-repeat: no-repeat;
      @media (max-width: 1024px) {
        height: 90px;
      }
      @media (max-width: 700px) {
        height: 50px;
      }
    }
  }
  section {
    .parallax {
      &.model-1 {
        height: 1000px;
        position: relative;
        background-image: url(../../../img/jpg/model/parallax1.jpg);;

        &:before {
          height: 130px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          content: "";
          background-image: url(../../../img/png/ban4.png);
          background-repeat: no-repeat;
          @media (max-width: 1024px) {
            height: 90px;
          }
          @media (max-width: 700px) {
            height: 50px;
          }
        }

        &:after {
          height: 140px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          content: "";
          background-image: url(../../../img/png/ban5.png);
          background-repeat: no-repeat;
          @media (max-width: 1024px) {
            height: 90px;
          }
          @media (max-width: 700px) {
            height: 50px;
          }
        }
      }
    }
  }
  .vesta-model-img img {
    display: none;
  }
  .vesta-model-img input:checked + img {
    display: block;
  }
  .vesta-model-info .text-info input:checked + div {
    display: block;
  }
  .color-car-all {
    display: flex;
    margin: -7px 0 0 0;
  }
  .color-car-all label {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 25px;
    position: relative;
  }
  .color-car-all label:hover {
    &:after {
      content: '';
      background-image: url("../../../img/png/corner_up.png") ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 18px;
      min-width: 18px;
      height: 7px;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  .vesta-model-info {
    display: flex;
    margin: 60px 0;
    .vistaSubTitle {
      width: 50%;
      margin: 0;
    }

    .text-info {
      width: 50%;
      > div {
        display: none;

        h5 {
          font-size: 30px;
          line-height: 1em;
          color: rgb(250, 105, 0);
          padding: 0;
        }
        p {
          min-height: 83px;
          color: #5b6770;
          font-size: 21px;
          font-weight: 500;
          line-height: 1.3em;
        }
      }

    }
  }
}