.banner {
  margin-top: -100px;
  height: 650px;
  width: 100%;
  min-height: 50px;
  background-image: url(../../../img/png/ban1.png), url(../../../img/jpg/banner.jpg);
  background-attachment: scroll;
  background-size: contain, cover;
  display: block;
  background-position: 50% 100%, 50% 50%;
  background-repeat: no-repeat, repeat;
  position: relative;
  @media (max-width: 1024px) {
    height: 480px;
  }
  @media (max-width: 640px) {
    height: 300px;
  }
}

.content {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  .flexGrid {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 640px) {
      justify-content: center;
    }

    > div {
      margin-top: 60px;
      width: 33.3%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 30px;
      @media (max-width: 960px) {
        width: 50%;
      }
      @media (max-width: 640px) {
        width: 90%;
        padding: 0 20px;
      }

      .carName {
        font-size: 28px;
        font-weight: 400;
        line-height: 1.3em;
        margin: 20px 0px 0px 0%;
        color: rgb(91, 103, 112);
      }

      .carBtn {
        margin-top: 20px;
        font-size: 18px;
        width: 100%;
        height: 50px;
        font-weight: 500;
        line-height: 1.3em;
        color: rgb(91, 103, 112);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.3s;
        -webkit-box-shadow: rgb(203, 214, 222) 0px 13px 15px -8px;
        box-shadow: rgb(203, 214, 222) 0px 13px 15px -8px;
        background-color: rgb(203, 214, 222);
      }

      .carBtn:hover {
        cursor: pointer;
        color: rgb(255, 255, 255);
        background: rgb(91, 103, 112);;
      }
    }
  }

  .info {
    margin: 100px 0 0 0;
    @media (max-width: 640px) {
      margin: 40px 0 0 0;
    }
    .info-content {
      width: 100%;
      height: 650px;
      background-image: url(../../../img/jpg/content1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #cbd6de;
      position: relative;
      @media (max-width: 960px) {
        height: 500px;
      }
      @media (max-width: 640px) {
        height: 400px;
      }
      @media (max-width: 580px) {
        height: 700px;
        align-items: flex-end;
        object-fit: cover;
      }
      &:before {
        position: absolute;
        content: '';
        background-image: url("../../../img/png/ban4.png");
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        @media (max-width: 580px){
          height: 42px;
        }
      }
      .info-text {
        width: 45%;
        float: right;
        padding-right: 100px;
        @media (max-width: 1024px) {
          width: 47%;
          padding-right: 60px;
        }
        @media (max-width: 640px) {
          width: 50%;
          padding: 30px 30px 0 0;
        }
        @media (max-width: 580px){
          display: none;
        }
      }
    }
    .info-content:nth-child(2) {
      margin-top: 10px;
      background-image: url("../../../img/jpg/content2.jpg");
      background-position: center;
      justify-content: flex-start;
      @media (max-width: 580px){
        height: 500px;
        background-image: url("../../../img/jpg/content8.jpg");
        background-size: 740px;
        background-position: -99px 0px;
      }

      &:before {
        content: none;
      }
      &:after {
        background-image: url("../../../img/png/ban5.png");
        bottom: 0;
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        height: 100px;
        @media (max-width: 580px) {
          height: 42px;
        }
      }
      .info-text {
        width: 55%;
        padding-left: 100px;
        padding-top: 200px;
        @media (max-width: 960px) {
          padding: 40px 20px 0 40px;
        }
        @media (max-width: 580px){
          display: none;
        }
      }


    }
    .info-text-title {
      font-size: 40px;
      font-weight: 500;
      line-height: 1em;
      color: rgb(203, 214, 222);
      @media (max-width: 640px) {
        font-size: 30px;
      }
    }
    .info-text-description {
      font-size: 21px;
      font-weight: 500;
      line-height: 1.3em;
      margin: 20px 0 0 0;
      color: rgb(255, 255, 255);
      display: block;
      @media (max-width: 640px) {
        font-size: 18px;
      }


    }
    .media-info-text {
      display: none;
      background-color: rgb(0, 0, 0);;
      padding: 40px 40px 60px;
      color: #cbd6de;

      @media (max-width: 580px){
        display: block;
      }
    }

  }



  section {
    @media (max-width: 580px) {
      margin-top: 40px;
    }
    > .vista-content {
      display: flex;
      margin: 10px 0;
      flex-wrap: wrap;
      @media (max-width: 580px){
      }
      > div {
        width: 50%;
        @media (max-width: 960px) {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        h1 {
          margin-bottom: 10px;
          font-size: 60px;
          font-weight: 400;
          line-height: 1em;
          color: rgb(91, 103, 112);
          @media (max-width: 640px) {
            font-size: 40px;
          }
        }

        p {
          padding-left: 20px;
          font-size: 21px;
          font-weight: 500;
          line-height: 1.3em;
          clear: none;
          color: rgb(91, 103, 112);
          @media (max-width: 1024px) {
            padding-left: 0px;
          }
          @media (max-width: 640px) {
            font-size: 18px;
            margin-top: 20px;
          }
        }

        .vista-subTitle {
          display: block;
          font-size: 40px;
          font-weight: 500;
          line-height: 1em;
          color: rgb(91, 103, 112);
          @media (max-width: 1024px) {
            padding-right: 50px;
          }
          @media (max-width: 960px) {
            padding: 0;
            width: 60%;
            text-align: center;
            margin-bottom: 20px;
            font-size: 30px;
          }
        }
      }
    }

  }
  .vista-car-block {
    margin-top: 60px;
    display: flex;
    position: relative;
    height: 600px;
    @media (max-width: 960px) {
      margin-top: 40px;
      height: 500px;
    }
    @media (max-width: 580px){
      height: 100%;
      flex-wrap: wrap;
    }

    &:after {
      height: 90px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: "";
      background-image: url("../../../img/png/ban6.png");
      background-repeat: no-repeat;
    }
  }

  .first-div {
    height: 100%;
    width: 38%;
    position: relative;
    border-right-width: 5px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    @media (max-width: 580px){
      width: 100%;
      height: 400px;
    }
    img {
      height: 100%;
      width: 100%;
    }

  }

  .second-div {
    height: 100%;
    width: 62%;
    position: relative;
    border-left-width: 5px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    @media (max-width: 580px){
      width: 100%;
      height: 400px;
      border-left-width: 0;
      margin-top: 10px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .child {
    height: 160px;
    width: 100%;
    padding: 40px;
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.498039);
    @media (max-width: 580px){
      height: 100px;
      padding: 0 40px;
      display: flex;
      align-items: center;
    }


    p {
      font-size: 21px;
      font-weight: 500;
      line-height: 1.3em;
      color: rgb(255, 255, 255);
      @media (max-width: 960px) {
        font-size: 18px;
      }
      @media (max-width: 640px) {
        font-size: 16px;
      }
    }
  }

  .vista-big-car-block {
    padding-top: 10px;
    height: 600px;
    width: 100%;
    position: relative;
    @media (max-width: 960px) {
      height: 500px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

    }
    .child {
      @media (max-width: 580px){
        height: 140px;
      }

    }
  }

  .vista-car-block-2 {
    margin-top: 10px;
    display: flex;
    height: 600px;
    position: relative;
    @media (max-width: 960px) {
      height: 500px;
    }
    @media (max-width: 580px){
      height: 100%;
      flex-wrap: wrap;
    }
    .first-div {
      border-right-width: 0;
      border-left-width: 5px;
      border-left-color: rgb(255, 255, 255);
      border-left-style: solid;
      img {
        object-fit: cover;
      }
      @media (max-width: 580px){
        margin-top: 10px;
        border-left-width: 0;
      }

      .child {
        height: 220px;
        @media (max-width: 580px){
          height: 160px;
        }
      }
    }
    .second-div {
      border-left-width: 0;
      border-right-width: 5px;
      border-right-color: rgb(255, 255, 255);
      border-right-style: solid;
      @media (max-width: 580px){
        border-right-width: 0;
        margin-top: 0;
      }
      .child {
        height: 220px;
        @media (max-width: 580px){
          height: 160px;
        }
      }

    }

    &:after {
      height: 90px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      background-image: url("../../../img/png/ban5.png");
      background-repeat: no-repeat;
      @media (max-width: 960px) {
        height: 56px;
      }

    }
  }

  .vista-feature {
    margin-top: 40px;

    .vista-feature-title {
      display: block;
      width: 60%;
      font-size: 60px;
      text-align: left;
      font-weight: 400;
      line-height: 1em;
      color: rgb(91, 103, 112);
      @media (max-width: 960px) {
        width: 100%;
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;

      }
    }

    .vista-feature-table {
      margin-top: 20px;
      padding: 0 30px;
      .orange {
        color: rgb(237, 107, 33)
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        li {
          padding: 10px 0;
          border-bottom: 1px dotted #7d7d7d;
          display: flex;
          font-size: 18px;
          color: #7d7d7d;
          @media (max-width: 768px){
            font-size: 16px;
          }
        }
        li:nth-child(odd) {
          justify-content: flex-end;
          text-align: right;
          width: 40%;
          padding-right: 10px;
          @media (max-width: 768px){
            width: 50%;
          }
        }
        li:nth-child(even){
          margin-left: 10px;
          justify-content: center ;
          width: 55%;
          @media (max-width: 768px){
            width: 45%;
          }
        }
        .first { border-bottom: none}
        .second {border-bottom: 1px dotted #ed6b21;}
        .orange {color:  #ed6b21}
      }

    }

    .little-info {
      display: block;
      padding: 0 30px;
      margin-top: 30px;
      color: #c6c6c6;
      font-family: Arial;
      font-size: 11px;
      font-weight: normal;
    }
  }

  .vista-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0;
    .orange-btn {
      padding: 15px 0;
      width: 460px;
      height: fit-content;
      display: flex;
      justify-content: center;
      font-size: 21px;
      font-weight: 500;
      line-height: 1.3em;
      color: rgb(255, 255, 255);
      background-color: rgb(250, 105, 0);
      border-radius: 25px;
      box-shadow: rgb(250, 105, 0) 0px 13px 15px -8px;
      @media (max-width: 1024px) {
        width: 400px;
      }
      @media (max-width: 960px) {
        width: 300px;

      }
      @media (max-width: 460px){
        width: 100%;
      }

    }

    .text {
      width: 50%;
      display: flex;
      padding-left: 20px;
      font-size: 21px;
      font-weight: 500;
      line-height: 1.3em;
      color: rgb(91, 103, 112);
      margin: 0;
      @media (max-width: 768px) {
        width: 100%;
        margin-top: 40px;
      }
      @media (max-width: 640px) {
        font-size: 18px;
        padding-left: 0;

      }
    }
  }

  .vista-video {
    height: auto;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    margin-top: 30px;

  }

  .vista-video iframe, .vista-video object, .vista-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


}





