/*inner-page-car*/
.inner-page-car {
  height: 500px;
  background: url("../img/jpg/banner-inner.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
}

.inner-banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media (max-width: 1024px) {
  .inner-banner-content {
    padding: 50px 40px 0 0;
  }
}
.vesta-car-img img {
  max-width: 132%;
}

.inner-page-car-info h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0 0 50px;
}

.inner-page-car-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  background: rgba(248, 249, 250, 0.5);
  width: 290px;
  height: 75px;
}

.inner-page-car-info div p {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.inner-page-car-info div span {
  font-style: normal;
  font-weight: normal;
  font-size: 51px;
  line-height: 51px;
  color: #F7761F;
}

.inner-page-car-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  height: 38px;
  margin: 2px 0 0;
}

.inner-page-car-info a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 38px;
  background: rgba(0, 0, 0, 0.7);
}

.inner-page-car-info a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  width: 250px;
  height: 38px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0 0 17px;
}

.inner-page-car-info a:hover {
  background: rgba(0, 0, 0, 0.55);
  outline: 0;
  outline-offset: 0;
}

.inner-page-car-info a div:hover img {
  margin-left: 10px;
}

.vesta-car-img img {
  display: none;
}

.vesta-car-img input:checked + img {
  display: block;
}

.color-car-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -7px 0 0 0;
}

.color-car-all label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 25px;
  position: relative;
}

.color-car-all .uk-icon {
  position: absolute;
  bottom: -7px;
  color: transparent;
}

.label-color1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #ffffff));
  background: -o-linear-gradient(transparent 30%, #ffffff 30%);
  background: linear-gradient(transparent 30%, #ffffff 30%);
  width: 100%;
}

.label-color1:hover {
  background: #ffffff;
}

.color-car-all .label-color1:hover .uk-icon {
  color: black;
}

.label-color2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #860E02));
  background: -o-linear-gradient(transparent 30%, #860E02 30%);
  background: linear-gradient(transparent 30%, #860E02 30%);
  width: 100%;
}

.label-color2:hover {
  background: #860E02;
}

.color-car-all .label-color2:hover .uk-icon {
  color: #ffffff;
}

.label-color3 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #3F3A32));
  background: -o-linear-gradient(transparent 30%, #3F3A32 30%);
  background: linear-gradient(transparent 30%, #3F3A32 30%);
  width: 100%;
}

.label-color3:hover {
  background: #3F3A32;
}

.color-car-all .label-color3:hover .uk-icon {
  color: #ffffff;
}

.label-color4 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #E8E5CD));
  background: -o-linear-gradient(transparent 30%, #E8E5CD 30%);
  background: linear-gradient(transparent 30%, #E8E5CD 30%);
  width: 100%;
}

.label-color4:hover {
  background: #E8E5CD;
}

.color-car-all .label-color4:hover .uk-icon {
  color: #ffffff;
}

.label-color5 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #1449BF));
  background: -o-linear-gradient(transparent 30%, #1449BF 30%);
  background: linear-gradient(transparent 30%, #1449BF 30%);
  width: 100%;
}

.label-color5:hover {
  background: #1449BF;
}

.color-car-all .label-color5:hover .uk-icon {
  color: #ffffff;
}

.label-color6 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #686866));
  background: -o-linear-gradient(transparent 30%, #686866 30%);
  background: linear-gradient(transparent 30%, #686866 30%);
  width: 100%;
}

.label-color6:hover {
  background: #686866;
}

.color-car-all .label-color6:hover .uk-icon {
  color: #ffffff;
}

.label-color7 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #515958));
  background: -o-linear-gradient(transparent 30%, #515958 30%);
  background: linear-gradient(transparent 30%, #515958 30%);
  width: 100%;
}

.label-color7:hover {
  background: #515958;
}

.color-car-all .label-color7:hover .uk-icon {
  color: #ffffff;
}

.label-color8 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #111112));
  background: -o-linear-gradient(transparent 30%, #111112 30%);
  background: linear-gradient(transparent 30%, #111112 30%);
  width: 100%;
}

.label-color8:hover {
  background: #111112;
}

.color-car-all .label-color8:hover .uk-icon {
  color: #ffffff;
}

.label-color9 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(30%, #C3C4C4));
  background: -o-linear-gradient(transparent 30%, #C3C4C4 30%);
  background: linear-gradient(transparent 30%, #C3C4C4 30%);
  width: 100%;
}

.label-color9:hover {
  background: #C3C4C4;
}

.color-car-all .label-color9:hover .uk-icon {
  color: #ffffff;
}

.car-configuration-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 13px 0;
}

.car-configuration-heading h1 {
  max-width: 500px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #F7761F;
}

.car-configuration-heading p {
  max-width: 668px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #52595D;
}

.download-price {
  border-top: 3px solid #52595D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ED6B21;
  width: 100%;
  height: 55px;
}

.download-price p {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  color: #FFFFFF;
  padding: 0 0 0 16px;
}

.download-price img {
  padding: 0 16px 0 0;
}

.table-price {
  border-top: 3px solid #ED6B21;
  border-left: 1px dotted #444E4E;
  border-right: 1px dotted #444E4E;
  border-bottom: 1px dotted #444E4E;
  margin: 20px 0 0;
}

.price-choice h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ED6B21;
  margin: 10px 0 0;
}

.table-price-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px 0;
}

.table-price-slider form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-price-slider div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-price-slider div span {
  color: #52595D;
  font-size: 19px;
  border: 1px dotted #52595D;
  margin: 0 12px 10px;
  padding: 0 10px;
}

.table-price-slider div {
  width: 100%;
}

.table-price-slider .ui-state-default {
  width: 35px;
  height: 38px;
  padding: 0;
  border-radius: 0;
  border: none;
  top: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.table-price-slider .ui-slider-horizontal .ui-slider-range {
  top: 0;
  width: 100%;
  height: 38px;
  border: none;
  background-color: #52595D;
  border-radius: 0;
}

#polzunok {
  width: 98%;
  border: none;
  height: 38px;
  border-radius: 0;
}

#polzunok span:nth-child(2) {
  background: url("../img/png/arrow5rght2.png") no-repeat center #ED6B21;
}

#polzunok span:nth-child(3) {
  background: url("../img/png/arrow5rght1.png") no-repeat center #ED6B21;
  margin: 0 0 0 -35px;
}

.table-price-slider .ui-widget-content {
  background: #f0f0f0;
}

.choice-characteristic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice-characteristic h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ED6B21;
  margin: 0 0 20px 0;
}

.choice-characteristic-table {
  border: 1px solid #c7c7c7;
  width: 98%;
}

.choice-characteristic-main-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F0F0F0;
  margin: 0 0 25px 0;
}

.choice-characteristic-main {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 640px) {
  .choice-characteristic-main-all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.choice-characteristic-main img {
  margin: 0 10px 0 0;
}

.choice-characteristic-main:hover div {
  background: #252b2f;
}

.choice-characteristic-main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #BEBEBE;
  margin: 0 10px 0 13px;
}

.choice-characteristic-main p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #BEBEBE;
}

.choice-characteristic-main-all .active div {
  background: #ED6B21;
}

.choice-characteristic-main-all .active p {
  color: #000000;
}

.choice-characteristic-after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}

.choice-characteristic-after a {
  text-align: center;
  width: 98%;
  padding: 6px 0;
  border-bottom: 1px dotted #52595D;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #52595D;
}

.choice-characteristic-after a:last-child {
  border: none;
}

.choice-characteristic-after a:hover {
  background: #E6E6E6;
}

.fit-your-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fit-your-choice h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ED6B21;
  padding: 10px 0;
  border-bottom: 1px dotted #52595D;
  width: 98%;
}

.fit-your-choice-car {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px dotted #52595D;
}

.fit-your-choice-car:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #f0f0f0), to(#FFFFFF));
  background: -o-linear-gradient(left, #f0f0f0 20%, #FFFFFF 100%);
  background: linear-gradient(to right, #f0f0f0 20%, #FFFFFF 100%);
}

.fit-your-choice-car-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fit-your-choice-car-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fit-your-choice-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fit-your-choice-car-name img {
  width: 13px;
  height: 13px;
  margin: 0 5px 0 0;
}

.fit-your-choice-car div h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.fit-your-choice-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fit-your-choice-price p:nth-child(1) {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #7D7D7D;
  margin: 0 32px 0 0;
  text-decoration: line-through;
}

.fit-your-choice-price p:nth-child(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ED6B21;
  margin: 0 28px 0 0;
}

.fit-your-choice-button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 30px;
  background: #F0F0F0;
  margin: 0 5px 0 0;
}

.fit-your-choice-button1:hover {
  background: #fbe1d3;
}

.fit-your-choice-button1 img {
  width: 25px;
  height: 23px;
  margin: 0 0 0 5px;
}

.fit-your-choice-button1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #52595D;
  margin: 0 18px 0 0;
}

.fit-your-choice-button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 30px;
  background: #ED6B21;
}

.fit-your-choice-button2:hover {
  background: #52595D;
}

.fit-your-choice-button2:hover img {
  margin: 0 10px 0 0;
}

.fit-your-choice-button2 img {
  width: 15px;
  height: 22px;
  margin: 0 15px 0 0;
}

.fit-your-choice-button2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0 0 0 9px;
}

.fit-your-choice-color-all {
  margin: 60px 0 0 0;
  width: 100%;
}

.fit-your-choice-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 16px;
}

.fit-your-choice-color div {
  width: 150px;
  height: 24px;
}

.fit-your-choice-color-white {
  background: #FFFFFF;
  border: 1px solid #000000;
}

.fit-your-choice-color-red {
  background: #860E02;
}

.fit-your-choice-color-brown {
  background: #3F3A32;
}

.fit-your-choice-color-grey {
  background: #E8E5CD;
  border: 1px solid #6c6c6c;
}

.fit-your-choice-color-blue {
  background: #1449BF;
}

.fit-your-choice-color-faton {
  background: #686866;
  border: 1px solid #6c6c6c;
}

.fit-your-choice-color-pluton {
  background: #515958;
  border: 1px solid #6c6c6c;
}

.fit-your-choice-color-black {
  background: #111112;
}

.fit-your-choice-color-silver {
  background: #C3C4C4;
  border: 1px solid #6c6c6c;
}

.fit-your-choice-color p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
  margin: 0 0 0 32px;
}

.fit-your-choice-color-all-info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ED6B21;
  margin: 30px 0 38px 16px;
}

.fit-your-choice-color-all-info a {
  color: #ED6B21;
  border-bottom: 1px solid #ED6B21;
}

.car-configuration-tabs-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 13px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #52595D;
}

.car-configuration-tabs-all2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
  padding: 0 0 40px 0;
}

.car-configuration-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 82px;
  background: #ED6B21;
  cursor: pointer;
  border-right-color: #fff;
  border-right-width: 3px;
  border-right-style: solid;
}

.car-configuration-tab:nth-child(4) {
  border-right: none;
}

.car-configuration-tab img {
  padding-top: 5px;
}

.car-configuration-tab:hover {
  background: #52595D;
}

.car-configuration-tab p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 7px 0;
}

/*tabs*/
.fit-your-choice-all {
  width: 100%;
}

.your-characteristic {
  width: 100%;
  display: none;
}

.your-characteristic-all {
  width: 98%;
  margin: 10px auto 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.your-characteristic-heading {
  display: none;
}

.your-characteristic-heading2 {
  display: none;
}

.your-characteristic-heading-all div:nth-child(1) {
  display: block;
}

.your-characteristic-heading-all2 div:nth-child(1) {
  display: block;
}

.your-characteristic-heading2 .checkbox {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.your-characteristic-heading2 input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

.your-characteristic-heading2 input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  border: 1px solid #555555;
  border-radius: 2px;
  background-color: white;
}

.your-characteristic-heading2 input[type=checkbox]:checked:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 5px;
}

.checkbox__text {
  margin: 0 0 0 10px;
}

.your-characteristic-heading2 input[type=checkbox]:checked .checkbox__text {
  color: #222222;
}

.your-characteristic-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 32px 0 0;
}

.your-characteristic-name .active {
  background: #E6E6E6;
}

.your-characteristic-name .active:hover {
  background: #E6E6E6;
}

.your-characteristic-name button {
  width: 368px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #52595D;
  cursor: pointer;
  border-bottom: 1px dotted #52595D;
  -webkit-transform: rotate(0.16deg);
      -ms-transform: rotate(0.16deg);
          transform: rotate(0.16deg);
  background: #FFFFFF;
}

.your-characteristic-name button:nth-child(4) {
  border: none;
}

.your-characteristic-name button:hover {
  background: #f0f0f0;
  color: #222222;
}

@media (max-width: 1024px) {
  .car-configuration-heading {
    padding: 0 20px;
  }
}
@media (max-width: 960px) {
  .car-configuration-tab p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .container {
    overflow: hidden;
  }

  .inner-page-car {
    height: auto;
    padding: 20px 0;
  }

  .inner-banner-content {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .vesta-car-img img {
    max-width: 160%;
  }

  .car-configuration-tabs-all2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .car-configuration-tab:nth-child(4) {
    border-right-color: #fff;
    border-right-width: 3px;
    border-right-style: solid;
  }

  .car-configuration-tab {
    border-bottom: 4px solid #ffffff;
  }

  .car-configuration-heading {
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .your-characteristic-name button {
    width: 300px;
  }

  .fit-your-choice-car {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fit-your-choice-car-info {
    margin: 10px 0 0 auto;
  }
}
@media (max-width: 560px) {
  .car-configuration-heading h1 {
    line-height: 41px;
    margin: 0 0 20px;
  }

  .price-choice h1 {
    margin: 10px 0;
  }

  .choice-characteristic-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #52595D;
  }

  .choice-characteristic-after a {
    width: 90%;
  }

  .choice-characteristic-table {
    width: 90%;
  }

  .your-characteristic-all {
    width: 90%;
    margin: 10px auto 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .your-characteristic-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 20px;
  }

  .your-characteristic-heading-all {
    width: 85%;
    margin: 0 auto;
  }

  .fit-your-choice-car-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fit-your-choice-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 10px;
  }

  .fit-your-choice-car {
    width: 90%;
  }

  .fit-your-choice h1 {
    width: 90%;
  }

  .car-configuration-tabs-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }

  .car-configuration-tabs-all2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px auto;
  }

  .fit-your-choice-color p {
    font-size: 12px;
    width: 90%;
    line-height: 14px;
  }

  .lada-all {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 28px;
    padding: 0 0 65px 0;
  }
}
@media (max-width: 320px) {
  .your-characteristic-name button {
    width: 220px;
    height: 40px;
  }

  .inner-page-car-info div {
    width: 275px;
  }

  .inner-page-car-info a {
    width: 275px;
  }

  .inner-page-car-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .download-price p {
    font-size: 20px;
    line-height: 20px;
  }

  .table-price-slider div span {
    font-size: 14px;
    margin: 10px 12px;
  }
}