extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="X-RAY VESTA"
block content
    section
        .container
            .xray-content
                p 4x4 Vision Concept
                img(src='../../img/jpg/4x4.jpg')
            .design-description
                div
                    p Везде свой
                div
                    span Свобода без границ... Сталкиваясь с ежедневной городской рутиной, мы все больше стремимся вырваться из нее, чтобы познать настоящую природу и «дикую» сторону себя. Для нас уже не имеет значения, что мы будем делать – встречать рассвет в горах, путешествовать из Москвы во Владивосток, исследовать вулканы на Камчатке, смотреть закат на Байкале или просто любоваться звездным небом. На пути к неизведанному LADA 4х4 VISION органично смотрится и в потоке машин, движущихся по городским джунглям, и при преодолении глубоких бродов, и форсировании лесных и горных массивов. Для этого путешественника нет ничего невозможного!
    section
        .parallax.vision1
    section
        .container
            .design-description
                div
                    p Дизайн
                div
                    span Концепт-кар сразу обращает на себя внимание благодаря сочетанию атлетичных пропорций, харизматичного характера и впечатляющего дизайна. На LADA 4х4 VISION команда дизайнеров смогла вывести «ИКС-графику», являющуюся неотъемлемой частью ДНК Бренда, на новый уровень и перевести будущее моделей LADA на язык дизайна. Вертикальная передняя часть модели подчеркивается трехмерной черной глянцевой ИКС-образной решеткой радиатора. Ее экспрессивный внешний вид контрастирует с матовыми вставками, также выполненными в форме ИКС-графики. Два блестящих алюминиевых бумеранга оптически выделяют ДНК Бренда. Тонкие высокотехнологичные светодиодные фары вносят свой вклад в ИКС – дизайн и визуально перекликаются с решеткой радиатора. В рельефный капот гармонично интегрированы светодиодные указатели поворота, напоминая об общей родословной с легендарной LADA 4x4. Замысловатый световой ансамбль дополняют противотуманные фары, расположенные в нижней части переднего бампера. Широкая металлическая защитная накладка бампера безошибочно показывает истинный потенциал этого автомобиля. Элементы ИКС-графики перенесены и на боковые части кузова LADA 4х4 VISION, где они приобретают особую объемную трехмерную форму, превращая автомобиль в живое существо, демонстрирующее окружающим мощную игру мышц.
    section
        .parallax.vision2
    section
        .container
            .design-description
                div
                    p Экстерьер
                div
                    span В очередной раз, черпая вдохновение в образе автомобиля-легенды, длинные передние двери LADA 4х4 VISION зеркально отображают ИКС-образные формы, воплощенные в задней части автомобиля. Оптический мираж приводит к восприятию кузова трехдверным. Зрительно закамуфлированные задние двери предоставляют пассажирам достаточно места для прохода внутрь автомобиля и открываются в противоположную движению сторону. Кузов 4х4 лишен центральной стойки и несет в себе элементы купе. Матовые накладки в нижней части внедорожника выделяют внушительные колесные арки, вместе с накладками на пороги и молдингами они дополняют брутальный вид концепт-кара и работают на контрасте с кузовом матового бронзового цвета. Специально созданный цвет окраски автомобиля усиливает 3D эффекты игры света и тени на рельефном теле LADA 4х4 VISION.
    section
        .big-salon-img
            div
            
                img(src='../../img/jpg/4_4salon.jpg')
            div
                div
                    img(src='../../img/jpg/4_4salon2.jpg')
                div
                    img(src='../../img/jpg/4_4salon3.jpg')
    section
        .container
            .design-description
                div
                div
                    span 21-дюймовые колеса придают концепт-кару спортивные пропорции и обеспечивают значительный дорожный просвет. Оригинальные 5-спицевые двухцветные диски поддерживают брутальный облик LADA 4х4 VISION. Большое панорамное стекло на крыше автомобиля дает дополнительный доступ солнечному свету, обеспечивая слияние между пассажирами и внешним миром. Дизайн задней части LADA 4х4 VISION отличается такими же мощными рельефными формами. Задний бампер и металлическая защитная накладка, горизонтально расположенные светодиодные фонари продолжают тему ИКС-графики. Верхняя и нижняя секции фонарей предназначены для габаритных и тормозных огней в то время, как поворотные сигналы скрыты в углублении. Задняя защитная накладка соседствует с двумя буксировочными крюками трапециевидной формы.
    section
        .parallax.vision3
    section
        .container
            .design-description
                div
                    p Комфорт
                div
                    span LADA 4х4 VISION создан на особой платформе длиной 4,2м. Выдающиеся показатели дорожного просвета, короткие свесы, экстремальные углы въезда и большие колеса усиливают геометрию настоящего внедорожника. Трансмиссия с широким набором высоких и низких коэффициентов, комбинация передовых внедорожных технологий и систем помощи обеспечивает концепт-кару непобедимый набор внедорожных способностей в своем сегменте. LADA 4х4 VISION является ярким примером высокотехнологичного автомобиля, обеспечивающего своих пассажиров полным набором цифровых систем для передвижения по бездорожью, которые дарят водителю совершенно новый опыт безопасного вождения в экстремальных условиях. 2 больших парящих цифровых экрана предоставляют водителю и пассажирам всю необходимую информацию. Расположенная за рулевым колесом основная комбинация приборов имеет ИКС-образную форму, информация передается при помощи легко считываемой графики. Центральный экран с набором он-лайн и оф-лайн сервисов помогает всем находящимся на борту с успехом преодолевать любые городские квесты. Атмосферная подсветка салона не только функциональна, она создает в салоне свой удивительный внутренний мир.
    section
        .full
            img(src='../../img/jpg/4_4banner.jpg')

    section
        .container
            .design-description
                div
                    p Интерьер
                div
                    span Двери в своем оформлении разделены на четыре секции: центральная горизонтально ориентированная обращена к приборной панели, на ней размещены музыкальные колонки, на задней в свою очередь расположены «парящие» складки подлокотников. Общее цветовое настроение в салоне поддерживается за счет сочетания оранжевой подсветки панели приборов и атмосферной подсветки такого же оттенка.Все сиденья имеют одинаковый оригинальный дизайн с яркой игрой фактур и материалов. Текстиль с эффектом 3D, экокожа и многослойный сетчатый текстиль дополнены подсвеченным декоративным орнаментом.С правой, противоположной, стороны от топливного бака расположена розетка 220V, предназначенная для зарядки любых электрических приборов при работающем автомобиле и закрытых и заблокированных центральным замком дверях. Эта функция еще больше расширяет границы возможностей LADA 4х4 VISION, делая ее приспособленной к любым приключениям.LADA 4х4 VISION смог уравновесить удивительный характер LADA 4x4 и новую генетическую принадлежность автомобилей Марки, умело соединить их с мощным, современным, скульптурно вылепленным дизайном автомобиля и искусно созданным высокотехнологичным внутрисалонным пространством.
    section
        .parallax.vision4
    section
        .photo-gallery
            .container
                p Фотогалерея
                .gallery-img#thumbnials
                    a(href='../../img/jpg/vision1.jpg')
                        img(src='../../img/jpg/vision1.jpg')
                    a(href='../../img/jpg/vision2.jpg')
                        img(src='../../img/jpg/vision2.jpg')
                    a(href='../../img/jpg/vision3.jpg')
                        img(src='../../img/jpg/vision3.jpg')
                    a(href='../../img/jpg/vision4.jpg')
                        img(src='../../img/jpg/vision4.jpg')
                    a(href='../../img/jpg/vision5.jpg')
                        img(src='../../img/jpg/vision5.jpg')
                    a(href='../../img/jpg/vision6.jpg')
                        img(src='../../img/jpg/vision6.jpg')
                    a(href='../../img/jpg/vision7.jpg')
                        img(src='../../img/jpg/vision7.jpg')
                    a(href='../../img/jpg/vision8.jpg')
                        img(src='../../img/jpg/vision8.jpg')
                    a(href='../../img/jpg/vision9.jpg')
                        img(src='../../img/jpg/vision9.jpg')
                    a(href='../../img/jpg/vision10.jpg')
                        img(src='../../img/jpg/vision10.jpg')
                    a(href='../../img/jpg/vision11.jpg')
                        img(src='../../img/jpg/vision11.jpg')
                    a(href='../../img/jpg/vision12.jpg')
                        img(src='../../img/jpg/vision12.jpg')

    section
        .container
            .more-box
                span  Узнайте больше о LADA 4x4 Vision Concept
                a(href='').btn-more
                    p подписаться
                    img(src='../../img/png/more.png')
//- connect only libs js
block libscripts
//- connect only custom js
block scripts
