extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="Технические характеристики"
block content
    section#inner-vesta.char 
        div
            .inner-page-car
                .container
                    .inner-banner-content
                        .vesta-car-img
                            div
                                img(src='../../img/png/vesta-car1.png' alt='' style='display:block')
                        .inner-page-car-info
                            h1 Vesta седан
                           
                            a(href='inner.html')
                                p Обзор
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
                            a(href='car-char.html')
                                p Характеристики
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
                            //- a(href='')
                            //-     p Фотогалерея
                            //-     div
                            //-         img(src='../../img/png/arrow-two.png' alt='')
                            a(href='car-manual.h')
                                p Руководство
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
        div
            .car-configuration
                .container
                    .car-configuration-heading
                        h1 Технические характеристики Vesta седан 
                    a
                        .download-price
                            p Скачать ехнические характеристики
                            img(src='../../img/png/icon_pdf_white1.png')
                    .car-characteristics-img 
                        div
                            img(src='../../img/jpg/char/1.jpg')
                        div
                            img(src='../../img/jpg/char/2.jpg')
                    .car-characteristics-info
                        .right-table 
                            ul 
                                li
                                li.orange Кузов
                                li Колесная формула / ведущие колеса
                                li Расположение двигателя 
                                li Тип кузова / количество 
                                li Количество мест
                                li Длина / ширина / высота
                                li База, мм
                                li Колея передних / задних колес
                                li Дорожный просвет
                                li Объем багажного отделения
                                li.orange Двигатель
                                li Код двигателя
                                li Тип двигателя
                                li Система питания
                                li Количество, расположение...
                                li Рабочий объем, куб. см
                                li Максимальная мощность, кВт (л.с.) / об....
                                li Максимальный крутящий момент, Нм / об....
                                li Рекомендуемое топливо
                                li.orange Динамические характеристики
                                li Максимальная скорость, км/ч 
                                li Время разгона 0-100 км/ч, с
                                li.orange Расход топлива
                                li Городской цикл, л/100 км 
                                li Загородный цикл, л/100 км
                                li Смешанный цикл, л/100 км
                                li.orange Масса
                                li Снаряженная масса, кг
                                li Технически допустимая максимальная масса
                                li Максимальная масса прицепа без тормозной системы / с тормозной системой, кг
                                li Объем топливного бака, л
                                li.orange Трансмиссия
                                li Тип трансмиссии
                                li Передаточное число главной передачи
                                li.orange Подвеска
                                li Передняя 
                                li Задняя 
                                li.orange Рулевое управление 
                                li Рулевой механизм
                                li.orange Шины
                                li Размерность
                        .left-table#characteristic-slider  
                            div
                                ul
                                    li.orange 1.8 л 16-кл. (122 л.с.), 5МТ
                                    li 
                                    li 4 х 2 / передние...
                                    li переднее поперечное
                                    li седан / 4
                                    li 5
                                    li 4410 / 1764 / 1497
                                    li 2635
                                    li 1510 / 1510
                                    li 178
                                    li 480
                                    li 
                                    li 21179
                                    li бензиновый
                                    li впрыск топлива с электронным управлением
                                    li 4, рядное
                                    li 1774
                                    li 90 (122) / 5900
                                    li 170 / 3700
                                    li бензин 92
                                    li
                                    li 186
                                    li 10,2
                                    li 
                                    li 9,5
                                    li 6,2
                                    li 7,4
                                    li 
                                    li 1230...1380
                                    li 1670
                                    li 450 / 900
                                    li 55
                                    li
                                    li 5МТ
                                    li 4,2
                                    li
                                    li независимая, типа Макферсон, пружинная, с телескопическими гидравлическими или газонаполненными амортизаторами и стабилизатором поперечной устойчивости
                                    li полузависимая, пружинная, с телескопическими гидравлическими или газонаполненными амортизаторами
                                    li
                                    li шестерня-рейка
                                    li
                                    li 185/65 R15 (88/92, H/T); 195/55 R16 (91, H)      
                            div
                                ul
                                    li.orange  1.6 л 16-кл. (113 л.с.), АТ
                                    li 
                                    li 4 х 2 / передние
                                    li переднее поперечное
                                    li седан / 4
                                    li 5
                                    li 4410 / 1764 / 1497
                                    li 2635
                                    li 1510 / 1510
                                    li 178
                                    li 480
                                    li 
                                    li H4M
                                    li бензиновый
                                    li впрыск топлива с электронным управлением
                                    li 4, рядное
                                    li 1598
                                    li 83 (113) / 5500
                                    li 152 / 4000
                                    li бензин 92
                                    li
                                    li 175
                                    li 11,3
                                    li
                                    li 9,2
                                    li 5,9
                                    li 7.1
                                    li 
                                    li 1230...1380
                                    li 1670
                                    li 450 / 900
                                    li 55
                                    li 
                                    li АТ 
                                    li 3,9
                                    li 
                                    li независимая, типа Макферсон, пружинная, с телескопическими гидравлическими или газонаполненными амортизаторами и стабилизатором поперечной устойчивости
                                    li полузависимая, пружинная, с телескопическими гидравлическими или газонаполненными амортизаторами
                                    li 
                                    li шестерня-рейка
                                    li 
                                    li 185/65 R15 (88/92, H/T); 195/55 R16 (91, H)
                            div
                                ul
                                    li.orange 1.6 л 16-кл. (106 л.с.), 5МТ
                                    li 
                                    li 4 х 2 переднее
                                    li переднее поперечное
                                    li седан / 4
                                    li 5
                                    li 4410 / 1764 / 1497
                                    li 2635
                                    li 1510 / 1510
                                    li 178
                                    li 480
                                    li 
                                    li 21129
                                    li бензиновый
                                    li впрыск топлива с электронным управлением
                                    li 4, рядное
                                    li 1596
                                    li 78 (106) / 5800
                                    li 148 / 4200
                                    li  бензин 92
                                    li 
                                    li 182
                                    li 11,2
                                    li
                                    li 9,3
                                    li 5,5
                                    li 6,9
                                    li
                                    li 1230...1380
                                    li 1670
                                    li 450 / 900
                                    li 55
                                    li 
                                    li 5МТ
                                    li  3,9
                                    li
                                    li  независимая, типа Макферсон, пружинная, с телескопическими гидравлическими или газонаполненными амортизаторами и стабилизатором поперечной устойчивости
                                    li полузависимая, пружинная, с телескопическими гидравлическими или газонаполненными амортизаторами
                                    li 
                                    li шестерня-рейка
                                    li
                                    li 185/65 R15 (88/92, H/T); 195/55 R16 (91, H)
                        
                    .info-after-table
                        p  Данные по расходу топлива определены в стандартизованных условиях с применением специального измерительного оборудования, в соответствии с требованиями ГОСТ Р41.101–99 (Правила ЕЭК ООН №101). Служат для сравнения автомобилей различных автопроизводителей. Эксплуатационной нормой не являются.
//- connect only libs js
block libscripts
//- connect only custom js
block scripts