extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="Технические характеристики"
block content
    section#inner-vesta.char.manual 
        div
            .inner-page-car
                .container
                    .inner-banner-content
                        .vesta-car-img
                            div
                                img(src='../../img/png/vesta-car1.png' alt='' style='display:block')
                        .inner-page-car-info
                            h1 Vesta седан
                           
                            a(href='inner.html')
                                p Обзор
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
                            a(href='car-char.html')
                                p Характеристики
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
                            //a(href='')
                                p Фотогалерея
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
                            a(href='car-manual.html')
                                p Руководство
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
        div
            .car-configuration
                .container
                    .car-configuration-heading
                        h1 Руководство по эксплуатации Vesta седан
                    .manualFlexGrid
                        div
                            .manual-item
                                a.link(href="#")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div 
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div 
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div 
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div 
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                    .info-after-table
                        p В связи с изменением структуры АО «АВТОВАЗ» и стандартов предприятия с 2013 г. прекращен выпуск документации по техническому обслуживанию и ремонту автомобилей LADA в печатном виде типографским способом, в т.ч. сборники технологических инструкций, трудоемкостей работ, каталоги деталей и сборочных единиц и др. Также прекращена реализация документации сторонним организациям. За прошедший период документация постоянно актуализировалась в связи с изменением конструкции автомобилей, а по результатам опытных работ были пересмотрены многие нормативы трудоемкостей. В настоящее время документация в актуальном состоянии доступна только предприятиям дилерской сети и партнерам АО «АВТОВАЗ» посредством предоставления авторизированного доступа к специализированному интернет-порталу АО «АВТОВАЗ» в рамках отдельных соглашений.
//- connect only libs js
block libscripts
//- connect only custom js
block scripts