extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="Lada Concept"
block content
    .concept-banner
        .container
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        p.car-title XRAY Sport
                        img(src='../../img/png/concept1.png')
                        a(href='#').detail-btn Подробнее
                    .swiper-slide
                        p.car-title 4x4 Vision
                        img(src='../../img/png/concept2.png')
                        a(href='#').detail-btn Подробнее
                    .swiper-slide
                        p.car-title XCODE
                        img(src='../../img/png/concept3.png')
                        a(href='#' ).detail-btn Подробнее
                .swiper-button-next
                .swiper-button-prev
                
//- connect only libs js
block libscripts
//- connect only custom js
block scripts