extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="Lada"
block content
    section#main
        #banner-slider
            .multiple-banner-slider
                .item-banner
                    img(src="../../img/jpg/banner/banner1.jpg" alt=""  )
                    .info-block
                        p.title Выгодные условия
                        span на запчасти и услуги сервиса для автомобилей старше 3 лет
                        a(href='').getMore
                            p Узнать больше
                .item-banner
                    img(src="../../img/jpg/banner/banner2.jpg" alt=""  )
                    .info-block
                        p.title Выгодные условия
                        span на запчасти и услуги сервиса для автомобилей старше 3 лет
                        a(href='').getMore
                            p Узнать больше
                .item-banner
                    img(src="../../img/jpg/banner/banner3.jpg" alt=""  )
                    .info-block
                        p.title Выгодные условия
                        span на запчасти и услуги сервиса для автомобилей старше 3 лет
                        a(href='').getMore
                            p Узнать больше
                .item-banner
                    img(src="../../img/jpg/banner/banner4.jpg" alt=""  )
                    .info-block
                        p.title Выгодные условия
                        span на запчасти и услуги сервиса для автомобилей старше 3 лет
                        a(href='').getMore
                            p Узнать больше
                .item-banner
                    img(src="../../img/jpg/banner/banner5.jpg" alt=""  )
                    .info-block
                        p.title Выгодные условия
                        span на запчасти и услуги сервиса для автомобилей старше 3 лет
                        a(href='').getMore
                            p Узнать больше
            .banner-slider-number
                .slider-controls
                    button.slide-m-prev(type='button')
                    .slide-m-dots
                    button.slide-m-next(type='button')
                span#banSlideCount1 1
                span#banSlideCount2
        .main-content
            .container
                h1.main-title Выбери свой автомобиль LADA
                .choose-car
                    div
                        img(src='../img/png/choose1.png')
                        p.choose-car-title Vesta седан <br> от 566 900 руб.
                        a Пройти тест-драйв
                        a Купить в кредит
                    div
                        img(src='../img/png/choose2.png')
                        p.choose-car-title Vesta седан <br> от 566 900 руб.
                        a Пройти тест-драйв
                        a Купить в кредит
                    div
                        img(src='../img/png/choose3.png')
                        p.choose-car-title Vesta седан <br> от 566 900 руб.
                        a Пройти тест-драйв
                        a Купить в кредит
                    div
                        img(src='../img/png/choose4.png')
                        p.choose-car-title Vesta седан <br> от 566 900 руб.
                        a Пройти тест-драйв
                        a Купить в кредит


                //.choose-car-2
                    div

                        div
                            img(src='../../img/png/icon1.png')
                            a(href='').getMore
                                p Максимальная выгода
                        .text Выбери свой автомобиль LADA по доступной цене
                    div
                        div
                            img(src='../../img/png/icon2.png')
                            a(href='').getMore
                                p Максимальная выгода
                        .text Выбери свой автомобиль LADA по доступной цене
                    div
                        div
                            img(src='../../img/png/icon3.png')
                            a(href='').getMore
                                p Максимальная выгода
                        .text Выбери свой автомобиль LADA по доступной цене
        .offers-box
            .container
                h1.main-title Акции и специальные предложения
                .special-offers-slider
                    .multiple-items
                        a.pop
                            img(src='../../img/jpg/offer.jpg')
                        a.pop
                            img(src='../../img/jpg/offer1.jpg')
                        a.pop
                            img(src='../../img/jpg/offer2.jpg')
                        a.pop
                            img(src='../../img/jpg/offer3.jpg')
                        a.pop
                            img(src='../../img/jpg/offer4.jpg')
                        a.pop
                            img(src='../../img/jpg/offer5.jpg')
                    .slider-number
                        span#offerSlide 1
                        span#offerSlide2


        .news-blog
            .container
                h1.main-title Новости и события
                .news
                    div
                        p 05.02.2020
                        hr.orange-order
                        span LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...
                        a(href='') читать далее
                    div
                        p 05.02.2020
                        hr.orange-order
                        span LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...
                        a(href='') читать далее
                    div
                        p 05.02.2020
                        hr.orange-order
                        span LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...
                        a(href='') читать далее
                    div
                        p 05.02.2020
                        hr.orange-order
                        span LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...
                        a(href='') читать далее
                .blog
                    h1 все новости
                    div
                        img(src='../../img/png/icon4.png')
                        a(href='').getMore
                            p Подписаться на рассылку

//- connect only libs js
block libscripts
//- connect only custom js
block scripts