extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="Model Vesta"
block content
    .model
        .banner
            //img(src="../../img/jpg/banner.jpg")
        .content
            .container
                p.vistaTitle Обновлённая LADA Vesta
                p.vistaText Седан LADA Vesta вместителен и удобен, при этом особое внимание уделено акустическому комфорту. Конструкция шасси объединяет плавность хода, проходимость и азартную управляемость. LADA Vesta отлично приспособлена для сложных климатических и дорожных условий: внешние панели кузова оцинкованы, силовой агрегат прикрыт мощной защитой, а на порогах и днище нанесено прочное антигравийное покрытие.
                p.vistaSubTitle Классический стиль, оптимальный выбор
                .info
                    .info-content
                .vista-car-block-2
                    .second-div
                        img(src='../../img/jpg/model/model1.2.jpg')
                    .first-div
                        img(src='../../img/jpg/model/model1.3.jpg')
                section
                    img(src="../../img/jpg/big-car.jpg")
                    .vista-content
                        div
                            h1 LADA Vesta
                            span.vista-subTitle Совершенство – в графике и характере
                        div
                            p Стремительная и яркая. LADA Vesta воплощает современную ДНК дизайна и комфорта LADA. Vesta – один из самых вместительных автомобилей в своём классе. Конструкция LADA Vesta обеспечивает высокий акустический комфорт и плавность хода, отличную проходимость и азартную управляемость. Совсем скоро встречайте в салонах официальных дилеров LADA.
                .vista-car-block
                    .first-div
                        img(src='../../img/jpg/content3.jpg')
                        .child
                            p Антенна в форме акульего плавника
                    .second-div
                        img(src='../../img/jpg/content4.jpg')
                        .child
                            p Бескаркасные стеклоочистители – работают эффективно и не склонны к обмерзанию.
                .vista-car-block-2
                    img(src='../../img/jpg/content5.jpg')
                .model-vista-content
                    div
                        span.vista-subTitle Самый просторный в классе салон
                    div
                        p Исключительно просторный салон позволяет разместиться с максимальным удобством на передних креслах и на заднем диване – этому способствует высокий уровень эргономики сидений, которые обладают выверенной формой и специально подобранным наполнителем. Водительское кресло оснащено регулировкой высоты и поясничной поддержки. В сочетании с регулировкой руля по высоте и вылету это помогает подобрать удобную посадку, исходя из индивидуальных потребностей.
        .model-banner
            img(src='../../img/jpg/model/model1.4.jpg')
        .content.no-padding
            .container
                .model-vista-content
                    div
                        span.vista-subTitle Мультимедийная система
                    div
                        p Мультимедийная система с 7-дюймовым экраном поможет создать нужное настроение в поездке. А навигатор сделает это путешествие проще, быстрее, эффективней. В мультимедийную систему входит камера заднего вида с динамическими линиями – вместе с парктроником это обеспечивает уверенное маневрирование в тесноте городов.
                .info
                    .info-content.model
                .vista-car-block-2.model
                    .second-div
                        img(src='../../img/jpg/content1.jpg')
                        .child
                            p Бесступенчатая автоматическая коробка передач японской фирмы Jatco
                    .first-div
                        img(src='../../img/jpg/content6.jpg')
                        .child
                            p Теплая опция для российских зим – обогрев руля. LADA Vesta согревает!
                .vista-car-block-2.imgModel
                    img(src='../../img/jpg/model/model1.6.jpg')
                .model-vista-content
                    div
                        span.vista-subTitle Трансформация багажного отсека
                    div
                        p 480-литровый багажник – это обязательное качество семейного седана LADA Vesta. Увеличить этот объем можно сложив спинку сиденья – как полностью, так и по частям, в пропорции 60/40.
                .model-banner
                    img(src='../../img/jpg/model/model1.7.jpg')
                section
                    img(src="../../img/jpg/model/model1.8.jpg")
                    .vista-content
                        div
                            span.vista-subTitle Высокий уровень защиты
                        div
                            p LADA Vesta – это высокий уровень защиты. Автомобиль обеспечивает отличную обзорность и уверенную проходимость, электроника постоянно мониторит дорожную ситуацию, кузов с применением сталей повышенной прочности надежно защищает водителя и пассажиров.

        section
            .parallax.model-1
        .content.no-padding
            .container
                .model-vista-content
                    div
                        span.vista-subTitle Двигатели
                    div
                        p LADA Vesta – это возможность выбрать силовой агрегат в соответствии с индивидуальным стилем вождения и потребностями в динамике. 1,6л + «механика» - экономичный вариант. 1,8л + «механика» - солидный запас тяги! 1,6л + автоматическая трансмиссия – плавное движение и уверенный разгон!
                .enginerGrid
                    div
                        .enginer-item
                            img(src='../../img/jpg/model/eng1.jpg')
                            .enginer-info
                                p Рабочий объем
                                p 1596 см
                                p Мощность
                                p 106 л.с. (78 кВт) при 5800 об/мин
                                p Момент крутящий
                                p 148 Нм при 4200 об/мин
                                p Нормы токсичности
                                p ЕВРО-5
                    div
                        .enginer-item
                            img(src='../../img/jpg/model/eng1.jpg')
                            .enginer-info
                                p Рабочий объем
                                p 1774 см
                                p Мощность
                                p 122 л.с. (90 кВт) при 5900 об/мин
                                p Момент крутящий
                                p 170 Нм при 3700 об/мин
                                p Нормы токсичности
                                p ЕВРО-5

                    div
                        .enginer-item
                            img(src='../../img/jpg/model/eng1.jpg')
                            .enginer-info
                                p Рабочий объем
                                p 1598 см
                                p Мощность
                                p 113 л.с. (83 кВт) при 5500 об/мин
                                p Момент крутящий
                                p 152 Нм при 4000 об/мин
                                p Нормы токсичности
                                p ЕВРО-5
                .model-car-tab
                    .vesta-model-img
                        div
                            input#tab1(hidden='' type='radio' checked='' name='tab')
                            img(src='../../img/png/vesta-car1.png' alt='')
                        div
                            input#tab2(hidden='' type='radio' name='tab')
                            img(src='../../img/png/vesta-car2.png' alt='')
                        div
                            input#tab3(hidden='' type='radio' name='tab')
                            img(src='../../img/png/vesta-car3.png' alt='')
                        div
                            input#tab4(hidden='' type='radio' name='tab')
                            img(src='../../img/png/vesta-car4.png' alt='')
                        div
                            input#tab5(hidden='' type='radio' name='tab')
                            img(src='../../img/png/vesta-car5.png' alt='')
                    .color-car-all
                        label.label-color1(for='tab1' style='background-color: #ffffff ')
                        label.label-color2(for='tab2' style='background-color: #860E02 ')
                        label.label-color3(for='tab3' style='background-color: #3F3A32 ')
                        label.label-color4(for='tab4' style='background-color: #E8E5CD ')
                        label.label-color5(for='tab5' style='background-color: #1449BF ')
                    .vesta-model-info
                        .vistaSubTitle Цветовая гамма
                        //.text-info
                        //    div
                        //        input#tab1(hidden='' type='radio' checked='' name='tab')
                        //        h5 Платина
                        //        p Классический серебристый цвет, в котором выразительно проявляется рельефная поверхность кузова
                        //.text-info
                        //    div
                        //        input#tab2(hidden='' type='radio' name='tab')
                        //        h5 Платина
                        //        p Классический серебристый цвет, в котором выразительно проявляется рельефная поверхность кузова



//- connect only libs js
block libscripts
//- connect only custom js
block scripts