extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="Vesta"
block content
    .banner
        //img(src="../../img/jpg/banner.jpg")
    .content
        .container
            p.vistaTitle Обновлённая Vesta
            p.vistaText Просторная и комфортная, многофункциональная и безопасная - настоящий семейный автомобиль! Сегодня LADA Vesta обновляется, чтобы стать еще удобней и еще более стильной. Все автомобили семейства Vesta 2020 модельного года получили бесступенчатую трансмиссию и ряд опций, делающих каждую поездку приятней. Особенно с наступлением зимы!
            p.vistaSubTitle Еще более удобная и стильная!
            .flexGrid
                div
                    img(src="../../img/jpg/car1.jpg")
                    p.carName Vesta
                    p.carBtn  Перейти к модели
                div
                    img(src="../../img/jpg/car2.jpg")
                    p.carName Vesta Cross
                    p.carBtn  Перейти к модели
                div
                    img(src="../../img/jpg/car3.jpg")
                    p.carName Vesta SW
                    p.carBtn  Перейти к модели
                div
                    img(src="../../img/jpg/car4.jpg")
                    p.carName Vesta SW Cross
                    p.carBtn  Перейти к модели
                div
                    img(src="../../img/jpg/car5.jpg")
                    p.carName Vesta Sport
                    p.carBtn  Перейти к модели
            .info
                .info-content
                    .info-text
                        p.info-text-title Автоматическая коробка передач
                        p.info-text-description Бесступенчатая автоматическая коробка передач японской фирмы Jatco – это комфортное движение, уверенное ускорение и хорошая топливная экономичность.
                    .media-info-text
                        p.info-text-title Автоматическая коробка передач
                        p.info-text-description Бесступенчатая автоматическая коробка передач японской фирмы Jatco – это комфортное движение, уверенное ускорение и хорошая топливная экономичность.
                .info-content
                    .info-text
                        p.info-text-title Cиденья Exclusive
                        p.info-text-description Стильная обивка сидений сочетает ткань и высококачественную износостойкую экококожу.
                    .media-info-text
                        p.info-text-title Cиденья Exclusive
                        p.info-text-description Стильная обивка сидений сочетает ткань и высококачественную износостойкую экококожу.

            section
                img(src="../../img/jpg/big-car.jpg")
                .vista-content
                    div
                        h1 LADA Vesta
                        span.vista-subTitle Совершенство – в графике и характере
                    div
                        p Стремительная и яркая. LADA Vesta воплощает современную ДНК дизайна и комфорта LADA. Vesta – один из самых вместительных автомобилей в своём классе. Конструкция LADA Vesta обеспечивает высокий акустический комфорт и плавность хода, отличную проходимость и азартную управляемость. Совсем скоро встречайте в салонах официальных дилеров LADA.
            .vista-car-block
                .first-div
                    img(src='../../img/jpg/content3.jpg')
                    .child
                        p Антенна в форме акульего плавника
                .second-div
                    img(src='../../img/jpg/content4.jpg')
                    .child
                        p Бескаркасные стеклоочистители – работают эффективно и не склонны к обмерзанию.
            .vista-big-car-block
                img(src='../../img/jpg/content5.jpg')
                .child
                    p Зеркала, которые можно сложить автоматически – с пульта на ключе зажигания или с кнопки на двери водителя.
            .vista-car-block-2
                .second-div
                    img(src='../../img/jpg/content6.jpg')
                    .child
                        p Теплая опция для российских зим – обогрев руля. <br> LADA Vesta согревает!
                .first-div
                    img(src='../../img/jpg/content7.jpg')
                    .child
                        p Функциональные подстаканники – надежно и удобно для размещения напитков и мелких вещей
            .vista-feature
                p.vista-feature-title Технические характеристики
                .vista-feature-table
                    ul
                        li.first
                        li.second.orange 1.6 л 16-кл. (113 л.с.), АТ
                        li.orange Кузов
                        li
                        li Объем багажного отделения, л
                        li 480
                        li.orange Двигатель
                        li
                        li  Максимальная мощность, кВт (л.с.) / об. мин.
                        li 83 (113) / 5500
                        li Рекомендуемое топливо
                        li бензин 92
                        li.orange Динамические характеристики
                        li
                        li Максимальная скорость, км/ч
                        li 175
                        li Время разгона 0-100 км/ч, с
                        li 11,3
                        li.orange Расход топлива
                        li
                        li Смешанный цикл, л/100 км
                        li 7.1
                        li.orange Трансмиссия
                        li
                        li Тип трансмиссии
                        li АТ

                span.little-info Данные по расходу топлива определены в стандартизованных условиях с применением специального измерительного оборудования, в соответствии с требованиями ГОСТ Р41.101–99 (Правила ЕЭК ООН №101). Служат для сравнения автомобилей различных автопроизводителей. Эксплуатационной нормой не являются.
            .vista-box
                a.orange-btn   Пройти тест-драйв
                p.text   Запишитесь на тест-драйв и ощутите все преимущества обновленной LADA Vesta!
            .vista-video
                iframe(src="https://www.youtube.com/embed/SaZ2qnL8wWM?hl=ru&showinfo=0&autohide=1&autoplay=0&&loop=1&playlist=SaZ2qnL8wWM&controls=0&modestbranding=0&start=0&fs=0&wmode=transparent&rel=0" frameborder="0" allowfullscreen="allowfullscreen")
//- connect only libs js
block libscripts
//- connect only custom js
block scripts