extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="X-CODE VESTA"
block content
    section
        .container
            .xray-content
                p XCODE CONCEPT
                img(src='../../img/jpg/xcode.jpg')
            .design-description
                div
                    p ДИЗАЙН
                div
                    span «Спортивная» версия LADA XRAY отличается от серийной модели более агрессивным дизайном интерьера и экстерьера. Гоночный характер кроссовера подчеркивают изящные красные акценты на кузове. Цветом выделен боковой рельеф автомобиля, бампера и гайки крепления легкосплавных колес эксклюзивного дизайна. Спортивный красный гармонично вписан и в отделку салона: цвет появился в лаконичной отстрочке рулевого колеса и на стрелках приборной панели. В ногах водителя и пассажира, в обивке дверей и рычаге КПП использована подсветка с мягким красным свечением. <br>  Дополнительные элементы стиля и комфорта: передний подлокотник и оригинальные велюровые коврики, комбинированная отделка сидений, кожаная обивка рычага ручного тормоза, специальные накладки на порогах дверных проемов, черная обивка крыши, стоек лобового стекла и противосолнечных козырьков. <br> Кроме того, XRAY Sport Concept получил характерный для автоспорта заниженный клиренс, агрессивный обвес и доработанную решетку радиатора.
                    .statment
                        img(src='../../img/png/author.png')
                        span «Концепт полный эмоций, концепт, который выводит наш дизайн на новый уровень выразительности». <br><br> Стив Маттин
    section
        .parallax.xcode1
    section
        .container
            .design-description
                div
                    p Комфорт и инновации
                div
                    span Концепция автомобиля LADA XCODE Concept потенциально предусматривает ряд перспективных решений, в том числе полноприводную трансмиссию и турбомотор. Кроме того, в концептуальном кроссовере продемонстрированы и новые активные системы помощи водителю: автоматическое экстренное торможение перед препятствием; автоматическая параллельная и перпендикулярная парковка; активный круиз-контроль с функцией поддержания расстояния до впередиидущего автомобиля; дистанционное управление автомобилем. <br> XCODE Concept прорабатывается с учетом применения перспективной телематической платформы LADA Connect. Она должна объединять автомобиль, устройства пользователя, информационно-развлекательные и навигационные сервисы, а так же активные системы помощи водителю в единую слаженную систему, которая управляется с помощью приложения LADA Connect в смартфоне пользователя.
        .utubeVideo
            iframe(src="https://www.youtube.com/embed/Zn_kg1icW8o?hl=ru&showinfo=0&autohide=1&autoplay=0&&loop=1&playlist=Zn_kg1icW8o&controls=0&modestbranding=0&start=0&fs=0&wmode=transparent&rel=0"     frameborder="0" allowfullscreen="allowfullscreen")
        .photo-gallery
            .container
                p Фотогалерея
                .gallery-img#thumbnials
                    a(href='../../img/jpg/xcode1.jpg')
                        img(src='../../img/jpg/xcode1.jpg')
                    a(href='../../img/jpg/xcode2.jpg')
                        img(src='../../img/jpg/xcode2.jpg')
                    a(href='../../img/jpg/xcode3.jpg')
                        img(src='../../img/jpg/xcode3.jpg')
                    a(href='../../img/jpg/xcode4.jpg')
                        img(src='../../img/jpg/xcode4.jpg')
                    a(href='../../img/jpg/xcode5.jpg')
                        img(src='../../img/jpg/xcode5.jpg')
                    a(href='../../img/jpg/xcode6.jpg')
                        img(src='../../img/jpg/xcode6.jpg')
                    a(href='../../img/jpg/xcod7.jpg')
                        img(src='../../img/jpg/xcode7.jpg')
                    a(href='../../img/jpg/xcode8.jpg')
                        img(src='../../img/jpg/xcode8.jpg')
    section
        .parallax.xcode2
    section
        .container
            .more-box
                span  Узнайте больше о LADA XCODE Concept
                .btn-more
                    p подписаться
                    img(src='../../img/png/more.png')


//- connect only libs js
block libscripts
//- connect only custom js
block scripts