extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="X-RAY VESTA"
block content
    section
        .container
            .xray-content
                p XRAY Sport Concept
                img(src='../../img/jpg/xray.jpg')
            .design-description
                div
                    p ДИЗАЙН
                div
                    span «Спортивная» версия LADA XRAY отличается от серийной модели более агрессивным дизайном интерьера и экстерьера. Гоночный характер кроссовера подчеркивают изящные красные акценты на кузове. Цветом выделен боковой рельеф автомобиля, бампера и гайки крепления легкосплавных колес эксклюзивного дизайна. Спортивный красный гармонично вписан и в отделку салона: цвет появился в лаконичной отстрочке рулевого колеса и на стрелках приборной панели. В ногах водителя и пассажира, в обивке дверей и рычаге КПП использована подсветка с мягким красным свечением. <br>  Дополнительные элементы стиля и комфорта: передний подлокотник и оригинальные велюровые коврики, комбинированная отделка сидений, кожаная обивка рычага ручного тормоза, специальные накладки на порогах дверных проемов, черная обивка крыши, стоек лобового стекла и противосолнечных козырьков. <br> Кроме того, XRAY Sport Concept получил характерный для автоспорта заниженный клиренс, агрессивный обвес и доработанную решетку радиатора.
    section
        .parallax.xray1
    section
        .container
            .design-description
                div
                    p Динамика и комфорт
                div
                    span Подвеска автомобиля получила спортивные настройки и тормозные механизмы повышенной эффективности с задними дисковыми механизмами. Разработать такое шасси позволяет опыт участия LADA в гонках мирового уровня, в том числе в Чемпионате мира по турингу WTCC. Под капотом XRAY Sport разместился мотор объемом 1,8 литра.
        .utubeVideo
            iframe(src="https://www.youtube.com/embed/uLOBiTwVghw?hl=ru&showinfo=0&autohide=1&autoplay=0&&loop=1&playlist=tKyU0ph6WIk&controls=0&modestbranding=0&start=0&fs=0&wmode=transparent&rel=0" frameborder="0" allowfullscreen="allowfullscreen")
        .photo-gallery
            .container
                p Фотогалерея
                .gallery-img#thumbnials
                    a(href='../../img/jpg/xray1.jpg')
                        img(src='../../img/jpg/xray1.jpg')
                    a(href='../../img/jpg/xray2.jpg')
                        img(src='../../img/jpg/xray2.jpg')
                    a(href='../../img/jpg/xray2.jpg')
                        img(src='../../img/jpg/xray3.jpg')
                    a(href='../../img/jpg/xray3.jpg')
                        img(src='../../img/jpg/xray4.jpg')
                    a(href='../../img/jpg/xray4.jpg')
                        img(src='../../img/jpg/xray5.jpg')
                    a(href='../../img/jpg/xray4.jpg')
                        img(src='../../img/jpg/xray6.jpg')
                    a(href='../../img/jpg/xray5.jpg')
                        img(src='../../img/jpg/xray7.jpg')
                    a(href='../../img/jpg/xray6.jpg')
                        img(src='../../img/jpg/xray8.jpg')
    section
        .parallax.xray2
    section
        .container
            .more-box
                span Узнайте больше о LADA XRAY Sport Concept
                .btn-more
                    p подписаться
                    img(src='../../img/png/more.png')


//- connect only libs js
block libscripts
//- connect only custom js
block scripts