<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        link(rel="apple-touch-icon", sizes="180x180", href="./favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="./favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="./favicon/favicon-16x16.png")
        link(rel="manifest", href="./favicon/site.webmanifest")
        link(rel="mask-icon", href="./favicon/safari-pinned-tab.svg", color="#2b2a29")
        link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
        link(rel="stylesheet" href='css/lightgallery.css')
        link(rel="stylesheet" href='css/jquery-ui.min.css')
        link(rel="stylesheet" href='css/uikit.css')
        link(rel="stylesheet" href='css/uikit-rtl.css')
        link(rel="stylesheet" href='css/slick-theme.css')
        link(rel="stylesheet" href='css/slick.css')
        block libcss
        link(rel="stylesheet" href='fonts/lato/stylesheet.css')
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
        link(rel="stylesheet" href='css/style.css')

        block css
        block title




    body
        //div#preloader
            div#status
                svg(xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' style='margin: auto; display: block;' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid')
                    path(d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='#1d3f72' stroke='none' transform='rotate(65.9434 50 51)')
                        animateTransform(attributeName='transform' type='rotate' dur='1s' repeatCount='indefinite' keyTimes='0;1' values='0 50 51;360 50 51')
        include header

        block content
        include footer


        script(src='https://code.jquery.com/jquery-1.12.4.js')
        block libscripts
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
        script.
            AOS.init({
                delay: 300,
                offset: 100,
                duration: 500,
            });
        script(src = "https://unpkg.com/swiper/js/swiper.js")
        script(src = "https://unpkg.com/swiper/js/swiper.min.js")
        script(src="js/jquery-ui.min.js")
        script(src="js/lightgallery.min.js")
        script(src="js/lg-fullscreen.min.js")
        script(src="js/lg-thumbnail.min.js")
        script(src="js/uikit.js")
        script(src="js/uikit-icons.js")
        script(src="js/slick.js")
        script(src='js/custom.js')
        script(src='js/main.js')
        block scripts