footer 
    .container
        .footer 
            .right-footer
                div
                    h3 Модельный ряд
                    hr.hrClass 
                    .footer-links
                        a(href='') Granta седан
                        a(href='') Granta лифтбек
                        a(href='') Granta хэтчбек
                        a(href='') Granta универсал
                        a(href='') Granta Cross
                        a(href='') Granta учебная
                        a(href='') Granta Drive Active
                    .footer-links
                        a(href='') Vesta седан
                        a(href='') Vesta Cross
                        a(href='') Vesta SW
                        a(href='') Vesta SW Cross
                        a(href='') Vesta Sport
                    .footer-links    
                        a(href='') XRAY
                        a(href='') XRAY Cross
                    .footer-links    
                        a(href='') Largus универсал
                        a(href='') Largus Cross
                        a(href='') Largus фургон
                    .footer-links   
                        a(href='') 4x4 3 дв.
                        a(href='') 4x4 Urban 3 дв.
                        a(href='') 4x4 5 дв.
                        a(href='') 4x4 Urban 5 дв.
                        a(href='') 4x4 Bronto 
                    .footer-links
                        a(href='4-4.html') 4x4 Vision
                        a(href='xcode.html') XCODE
                        a(href='xray.html') XRAY Sport
                    .footer-links  
                        a(href='') Концепты 
                        a(href='') Коммерческие автомобили
                        a(href='') Модели. Архив
                div 
                    h3 Разделы сайта 
                    hr.hrClass
                    .footer-links    
                        a(href='') Новости 
                        a(href='') Акции
                        a(href='') Дилеры 
                        a(href='') LADA Finance 
                        a(href='') LADA Leasing
                        a(href='') Тест-драйв
                        a(href='') Аксессуары LADA 
                        a(href='') Задать вопрос
                        a(href='') Дилеры
                  
            .left-footer 
                p Клиентская служба LADA
                a(tel="tel:+9965555555") +996 (555) 55-55-55
                .social-icons 
                    a(href="" target="_blank").vk
                    a(href="" target="_blank").fb
                    a(href="" target="_blank").tw
                    a(href="" target="_blank").insta
                    a(href="" target="_blank").youtube
                    a(href="" target="_blank").ok
                p Правовая информация
                p * - Рекомендованные розничные цены указаны с учетом максимальной выгоды по действующим акциям. Информация о технических характеристиках, составе комплектаций, цветовой гамме и рекомендованных розничных ценах, опубликованных на официальном сайте АО ''АВТОВАЗ'' (www.lada.ru), носит справочный характер и ни при каких обстоятельствах не является публичной офертой, определяемой положениями Статьи 437 ч.2 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к официальным дилерам АО ''АВТОВАЗ''. 



