header
    .main-header
        .container
            .header 
                .left-header 
                    a(href="index.html").logo
                    a(href='#').get-location Как добраться?
                .right-header  
                    nav 
                        .nav 
                            a(href='#').mobile-row-header Модельный ряд
                            a(href='#').stocks Акции
                            a(href='#').news Новости
                            a(href='#').test-drive Тест-драйв
                        .fixed-nav
                            a(href='#').mobile-row-header 
                            a(href='#').stocks 
                            a(href='#').news 
                            a(href='#').test-drive 
                    div
                        a.drop-menu 
                        a.lang Eng
    .dropdown-menu.dropdown-menu-burger
        .container
            .menuGrid
                div
                    h2 Продажа 
                    hr.hrClass
                    a(href='') Корпоративным клиентам
                    a(href='') Финансовые услуги
                    a(href='') Аксессуары
                div
                    h2 Сервис 
                    hr.hrClass
                    a(href='') Акции сервиса
                    a(href='') Гарантии
                    a(href='') Услуги
                    a(href='') Запасные части
                    a(href='') Стандарты качества
                div
                    h2 Новости 
                    hr.hrClass
                    a(href='') Пресс релизы
                    a(href='') Подписка на рассылку
                div
                    h2 Компания 
                    hr.hrClass
                    a(href='') О компании
                    a(href='') Контакты
                    a(href='') Карьера
            .dropdown-menu-close 
                a Закрыть меню 
    .dropdown-menu.dropdown-mobile-row  
        .container 
            .menuGrid.mobileRowGrid
                div
                    img(src='../../../img/png/head-car1.png')
                    a
                        h2  Granta
                    hr.hrClass
                    a(href='') Granta седан
                    a(href='') Granta лифтбек
                    a(href='') Granta хэтчбек
                    a(href='') Granta универсал
                    a(href='') Granta Cross
                    a(href='') Granta учебная
                    a(href='') Granta Drive Active
                div
                    img(src='../../../img/png/head-car2.png')
                    a(href='vesta.html')
                        h2 Vesta  
                    hr.hrClass
                    a(href='inner.html') Vesta седан
                    a(href='') Vesta Cross
                    a(href='') Vesta SW
                    a(href='') Vesta SW Cross
                    a(href='') Vesta CNG
                    a(href='') Vesta Sport
                div
                    img(src='../../../img/png/head-car3.png')
                    h2 XRAY  
                    hr.hrClass
                    a(href='') XRAY 
                    a(href='') XRAY Cross
                div
                    img(src='../../../img/png/head-car4.png')
                    a(href='')
                        h2 Largus  
                    hr.hrClass
                    a(href='') Largus универсал CNG
                    a(href='') Largus Cross
                    a(href='') Largus Cross CNG
                    a(href='') Largus фургон
                    a(href='') Largus фургон CNG
                div
                    img(src='../../../img/png/head-car5.png')
                    a(href='')
                        h2 4x4  
                    hr.hrClass
                    a(href='') 4x4 3 дв.
                    a(href='') 4x4 Urban 3 дв.
                    a(href='') 4x4 5 дв.
                    a(href='') 4x4 Urban 5 дв.
                    a(href='') 4x4 Bronto 
                div
                    img(src='../../../img/png/head-car6.png')
                    a(href='concept.html')
                        h2 Концепты  
                    hr.hrClass
                    a(href='4-4.html') 4x4 Vision
                    a(href='xcode.html') XCODE
                    a(href='xray.html') XRAY Sport
                div
                    img(src='../../../img/png/head-car7.png')
                    a(href='')
                        h2 Коммерческие  
                    hr.hrClass
                    a(href='') на базе Granta
                    a(href='') на базе Largus
                    a(href='') на базе 4x4
            .dropdown-menu-close 
                a Закрыть меню 